<div class="footer-container">
    <div class="footer-newsletter">
        <div class="footer-border"></div>
        <?php echo $this->getChildHtml('newsletter'); ?>
    </div>
    <div class="footer">
        <?php echo $this->getChildHtml('bottomContainer'); ?>
        
        <?php if($footerLogo = $this->getChildHtml('footer_logo')): ?>
            <?php echo $footerLogo; ?>
        <?php endif; ?>
        
        <?php echo $this->getChildHtml('store_switcher'); ?>
        <div class="footer-links">
            <?php if ($column1 = $this->getChildHtml('footer-column-1')): ?>
                <?php echo $column1; ?>
            <?php endif; ?>
            
            <?php if ($column2 = $this->getChildHtml('footer-column-2')): ?>
                <?php echo $column2; ?>
            <?php endif; ?>
            
            <?php if ($column3 = $this->getChildHtml('footer-column-3')): ?>
                <?php echo $column3; ?>
            <?php endif; ?>
            
            <?php if ($column4 = $this->getChildHtml('footer-column-4')): ?>
                <?php echo $column4; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
<div class="absolute-footer">
    <div class="absolute-footer-container">
        <address class="copyright"><?php echo $this->getCopyright() ?></address>
        <?php if($cardLogo = $this->getChildHtml('credit-card-logo')): ?>
            <div class="credit-card-logo"><?php echo $cardLogo; ?></div>
        <?php endif; ?>
    </div>
</div>
<div class="store-language-container">
    <?php echo $this->getChildHtml('store_language') ?>
    <?php echo $this->getChildHtml('currency_switcher') ?>
</div>
