<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<div class="header-language-background">
    <div class="header-top-container">
        <?php if($topLeftLinks = $this->getChildHtml('top-left-links')): ?>
            <div class="top-left-links">
                <div class="links">
                    <?php echo $topLeftLinks; ?>
                </div>
            </div>
        <?php endif; ?>
        <div class="top-right-links">
            <div class="login-links">
                <?php echo $this->getChildHtml('header-links'); ?>
                <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                    <a href="<?php echo Mage::helper('customer')->getRegisterUrl(); ?>"><?php echo $this->__('Register') ?></a>
                    <a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>" class="last"><?php echo $this->__('Login') ?></a>
                <?php else: ?>
                    <a href="<?php echo Mage::helper('customer')->getAccountUrl(); ?>"><?php echo $this->__('Account') ?></a>
                    <a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>" class="last"><?php echo $this->__('Logout') ?></a>
                <?php endif; ?>
            </div>
        </div>
        <?php if($headerContactInfo = $this->getChildHtml('header-contact-info')): ?>
            <div class="header-contacts-wrapper">
                <?php echo $headerContactInfo; ?>
            </div>
        <?php endif; ?>
    </div>
</div>

<header id="header" class="page-header">
    <div class="page-header-container">
        <a class="logo" href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" />
            <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" />
        </a>
        <div class="largescreen-header">
            <div class="largescreen-middle">
                <div class="largescreen-search">
                    <?php echo $this->getChildHtml('topSearchLarge') ?>
                </div>
            </div>
        </div>

        <!-- Skip Links -->

        <div class="skip-links">
            <a href="#header-nav" class="skip-link skip-nav">
                <span class="icon"></span>
                <span class="label"><?php echo $this->__('Menu'); ?></span>
            </a>

            <a href="#header-search" class="skip-link skip-search">
                <span class="icon"></span>
                <span class="label"><?php echo $this->__('Search'); ?></span>
            </a>

            <a href="#header-account" class="skip-link skip-account">
                <span class="icon"></span>
                <span class="label"><?php echo $this->__('Account'); ?></span>
            </a>

            <!-- Cart -->

            <div class="header-minicart">
                <?php echo $this->getChildHtml('minicart_head'); ?>
            </div>


        </div>

        <!-- Search -->

        <div id="header-search" class="skip-content">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>

        <!-- Account -->

        <div id="header-account" class="skip-content">
            <?php echo $this->getChildHtml('topLinks') ?>
        </div>

        <!-- Cart -->

        <!-- <div id="header-cart" class="skip-content">
            <div class="mini-cart">
                <div class="menu-wrapper">
                    <div class="menu cart-menu">
                        <div class="empty">Your cart is empty.</div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</header>
<!-- Navigation -->

<div id="header-nav" class="skip-content">
    <?php echo $this->getChildHtml('topMenu') ?>
</div>

<?php echo $this->getChildHtml('topContainer'); ?>
