<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php $_menu = $this->getHtml('level-top') ?>

<?php if($_menu): ?>
    <nav id="nav" class="<?php echo (Mage::helper('clkweb_theme')->useEnhancedMenu() ? 'enhanced-menu' : 'normal-menu') ?>">
        <ol class="nav-primary">
            <li class="home-icon">
                <a href="<?php echo Mage::getBaseUrl();?>"><?php echo $this->__('Home'); ?></a>
            </li>
            <?php echo $_menu ?>
        </ol>
    </nav>
<?php endif ?>
