.free-shipping-message {float: left; margin-right: 20px; }
.delivery-offer-message { float: left; }

.free-shipping-message .subtitle,
.delivery-offer-message span { color: #000; font-size: 13px; text-transform: none; }

.free-shipping-message .subtitle .price { color: #000; }

.free-shipping-message { background: url('../../../images/truck.png') left center no-repeat; padding-left: 35px; }
.delivery-offer-message {background: url('../../../images/clock.png') left center no-repeat; padding-left: 30px; }