<?php $items = $this->getItems() ?>
<?php if ($items): ?>
    <div class="brand-slider">
        <?php foreach ($items as $letters): ?>
            <?php foreach ($letters as $letter => $options): ?>
                    <?php foreach ($options as $o): ?>
                        <?php if ($o['img']): ?>
                            <div>
                                <a href="<?php echo $o['url'] ?>">
                                    <img src="<?php echo $o['img'] ?>" />
                                </a>
                            </div>
                        <?php endif ?>
                    <?php endforeach ?>
            <?php endforeach ?>
        <?php endforeach ?>
    </div>
<?php endif ?>
