<?php if(count($this->getItemCollection()->getItems())): ?>
<?php $_columnCount = $this->getColumnCount(); ?>
<?php $i = 0; ?>
<div class="box-collateral box-up-sell category-products">
    <h2><?php echo $this->__('You may also be interested in the following products') ?></h2>
    <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col products-container" id="upsell-product-table">
    <?php $this->resetItemsIterator() ?>
    <?php foreach ($this->getItemCollection()->getItems() as $_link): ?>
        <?php if ($i >= 4) break; ?>
        <?php $i++; ?>
        <li class="item">
            <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_link->getName()) ?>" class="product-image">
                <img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(280) ?>" alt="<?php echo $this->escapeHtml($_link->getName()) ?>" />
            </a>
            <h3 class="product-name"><a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_link->getName()) ?>"><?php echo $this->escapeHtml($_link->getName()) ?></a></h3>
            <?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
            <div class="hover-area">
                <div class="actions">
                    <div class="button-container">
                        <button type="button" class="button btn-cart" onclick="window.location='<?php echo $this->getAddToCartUrl($_link) ?>';"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    </div>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_link) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_link)): ?>
                            <li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif ?>
