<?php
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */

?>

<?php
    $_cartQty = $this->getSummaryCount();
    if(empty($_cartQty)) {
        $_cartQty = 0;
    }
?>
<?php
    $config = Mage::getSingleton('tax/config');
    $totals = Mage::getSingleton('checkout/cart')->getQuote()->getTotals();
    if($config->displayCartSubtotalInclTax()) {
        $subtotal = $totals['subtotal']->getValueInclTax();
    } else {
        $subtotal = Mage::getSingleton('checkout/cart')->getQuote()->getSubtotal();
    }
    
?>

<a href="#header-cart" class="skip-link skip-cart <?php if($_cartQty <= 0): ?> no-count<?php endif; ?>">
    <span class="icon"></span>
    <span class="count"><?php echo $_cartQty; ?></span>
    <span class="label largescreen"><?php echo $this->__('Your cart:'); ?></span>
    <span class="label smallscreen"><?php echo $this->__('Cart'); ?></span>
    <span class="subtotal"><?php echo Mage::helper('core')->currency($subtotal, true, false); ?></span>
</a>

<div id="header-cart" class="block block-cart skip-content">
    <?php echo $this->getChildHtml('minicart_content');?>
</div>
