/** Demo Store Notice **/
.wrapper .demo-notice .notice-inner { max-width: 580px; margin: 0 auto; }

/** ClearFix **/
.page .page-header .skip-links .header-minicart:after,
.page .header-language-background .header-top-container:after,
.page .header-language-background .links ul:after,
.page .header-language-background .header-top-container:after,
.page #header:after,
.page .page-header .skip-links:after,
.page .main-container .product-view:after,
.page .main-container .product-view #block-related:after,
.page .main-container .content-wrapper .promo-blocks:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }


/** Global element Styles **/
*,
body *,
a,
p,
span,
div { font-family: 'Helvetica', sans-serif !important; }

input:focus,
select:focus,
textarea:focus,
button:focus,
input[type="search"]:focus { outline: none; }

.wrapper .page a { transition: all 0.3s ease 0s; }
.main .breadcrumbs { margin-bottom: 9px; }

.page.boxedbg { background-color: #5bb300; }
.page .main .breadcrumbs a:hover { color: #5bb300; }
.page .button2 span,
.page .button2 span span,
.page .opc .section.allow .step-title:hover h2,
.page .opc .section.active .step-title h2,
.page .block-account li strong, .block-cms-menu li strong,
.page #wishlist-table .product-name a,
.cms-page-view .page .std h1,
.cms-no-route .page .std h1,
.wrapper .page a,
.wrapper .page h1,
.wrapper .page .h1,
.wrapper .page h2,
.wrapper .page .h2,
.wrapper .page h3,
.wrapper .page .h3,
.wrapper .page h4,
.wrapper .page .h4,
.wrapper .page h5,
.wrapper .page .h5,
.wrapper .page h6,
.wrapper .page .h6,
.wrapper .page .block-title h2,
.wrapper .page .block-title h3,
.wrapper .page .block-title strong,
.page-popup .page-title h1,
.page-popup .page-title h2,
.page-popup .product-name h1,
.page-popup .product-name .h1,
.page-popup a,
.page .price-box .price,
.page-popup .price-box .price,
.wrapper .product-view .product-shop .product-name .h1,
.wrapper .product-view .product-img-box .product-name h1,
.cms-page-view .wrapper .page .std h2,
.cms-no-route .wrapper .page .std h2,
.wrapper .page #customer-reviews h2,
.wrapper .page #customer-reviews h3 span,
.wrapper .page #customer-reviews dl dd .review-meta,
.wrapper .page .grouped-items-table .name-wrapper,
.wrapper .page .product-view .product-shop .price-box .regular-price .price,
.wrapper .page .product-view .product-shop .price-box .special-price .price,
.wrapper .page .product-view .product-shop .price-box .full-product-price .price { color: #5bb300; }

/** CMS Pages **/
.cms-page-view .page .std p,
.cms-no-route .page .std p { font-style: normal; }

.page .opc .section.allow .step-title .number,
.page .button,
.page .cart-table .product-cart-actions .button,
.page #co-shipping-method-form .buttons-set .button,
.page .footer .button,
.page .cart .buttons-set .button,
.page .cart-table .button,
.page .sidebar .actions .button,
.page .button.button-secondary { background-color: #5bb300; color: #fff;}

.page .button:hover,
.page .cart-table .product-cart-actions .button:hover,
.page #co-shipping-method-form .buttons-set .button:hover,
.page .footer .button:hover,
.page .cart .buttons-set .button:hover,
.page .cart-table .button:hover,
.page .sidebar .actions .button:hover,
.page .button.button-secondary:hover { background-color: #60c011; }

.page .opc .section.allow .step-title .number:hover,
.page .opc .section .step-title .number,
.page .opc .section.allow.active .step-title .number,
.page .no-touch .opc .section.allow:hover .step-title .number { background-color: #5bb300; }


.page .btn-remove:after { color: #59b210; }
.page .btn-remove:hover:after { color: #fff; }
.page .btn-remove:hover { background-color: #59b210; }

/** Page width **/
.page #header,
.page .main-container,
.page .main-container .content-wrapper { max-width: 1200px; margin: 0 auto; padding: 0 15px; }
.page .main-container { padding-top: 30px; }
.page #header.page-header { margin: 0 auto; }

@media screen and (min-width: 770px) {
    .page #header.page-header { margin: 30px auto; }
}

/** Global Styles **/
.wrapper .page a,
.wrapper h1,
.wrapper .h1,
.wrapper h2,
.wrapper .h2,
.wrapper h3,
.wrapper .h3,
.wrapper h4,
.wrapper .h4,
.wrapper h5,
.wrapper .h5,
.wrapper h6,
.wrapper .h6,
.wrapper .block-title h2,
.wrapper .block-title h3,
.wrapper .block-title strong,
.wrapper .header-contacts-wrapper div a,
.wrapper .largescreen-links div a,
.wrapper .product-options .size-guide-container a,
.wrapper .page .add-to-links li a,
#customer-reviews .no-rating a,
.block-layered-nav #narrow-by-list .amshopby-cat a  { color: #676767;}

.wrapper .page a:hover { text-decoration: none; color: #676767; opacity: 0.7; }
.wrapper .page a:focus { outline: none; }

.page button.button,
.page a.button { padding: 0; }

.page button.button,
.page a.button,
body .button,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button,
body .footer .button { padding: 10px 20px; position: relative; z-index: 10; background-color: #59b210; border: medium none; border-radius: 4px; color: #fff; direction: inline-block; font-weight: 700; line-height: 20px; text-transform: capitalize; font-size: 15px; }

.page a.button:hover,
.page button.button:hover,
body .button:hover,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button,
body .footer .button { color: #fff; background-color: #60c011; }

.page .sidebar .block:not(.block-layered-nav) .block-title > strong:after { border-left-color: #59b210; border-top-color:transparent; }
.page .sidebar .block:not(.block-layered-nav) .block-title.active > strong:after { border-left-color: transparent; border-top-color:#59b210; }

.page .col-main > .std { margin-bottom: 30px; }

/** Store Switcher **/
.page .store-language-container { background-color: #F8F8F8; }
.page .store-language-container .form-language { max-width: 1200px; padding: 10px; margin: 0 auto; text-align: center; }

/** Header Top Links Styles **/
.page .header-language-background { display: block; background-color: #f8f8f8; border-bottom: 1px solid #e4e4e4; width:100%; margin: 0 auto; }
.page .header-language-background .header-top-container { max-width: 1170px; margin: 0 auto; }
.page .header-language-background .top-left-links { float: left; width: 32%; }
.page .header-language-background .top-left-links.has-free-shipping { width: auto; }
.page .header-language-background .top-right-links { float: right; }

.page .header-language-background .links ul li,
.page .header-language-background .top-right-links a { display: inline-block; padding-right: 12px; border-right: 1px solid #e8e8e8; margin-right: 7px; text-transform: none; }

.page .header-language-background .links ul li.last,
.page .header-language-background .top-right-links a.last { border-right: 0 none; padding-right: 0; margin-right: 0; }

.page .header-language-background .links ul li a,
.page .header-language-background .links ul li span,
.page .header-language-background .links a,
.page .header-language-background .login-links a { color: #a2a2a2; font-size: 13px; }

.page .header-language-background .links li a:hover,
.page .header-language-background .links ul li span:hover,
.page .header-language-background .login-links a:hover { text-decoration: none; color: #5bb300; opacity: 1; }

.page .header-language-background .links ul li span { cursor: pointer; }
.page .header-language-background .links ul li.has-dropdown { background: url('../images/arrow-down.png') no-repeat 67px 9px; position: relative; }
.page .header-language-background .links ul li.has-dropdown > ul { display: none; position: absolute; top: 31px; left: -17px; overflow: hidden; width: 200px; background-color: #fff; border-top: 1px solid #5bb300; z-index: 99; }
.page .header-language-background .links ul li.has-dropdown > ul li { margin-right:0; padding-right: 0; border-right: 0 none; padding-left: 15px; }

@media screen and (max-width: 1200px) {
    .page .header-language-background .top-left-links { display: none; }
    .page .header-language-background .header-contacts-wrapper { width: 50%; text-align: left; margin: 0; padding-left: 10px }
}
@media screen and (max-width: 770px) {
    .page .header-language-background .header-top-container div {  }
    .page .header-language-background .header-top-container div .links { margin: 0 auto; }
    .page .header-language-background .header-top-container div .links ul li a,
    .page .header-language-background .header-top-container div .links ul li span { font-size: 11px; }
    .page .header-language-background .top-left-links,
    .page .header-language-background .top-right-links { text-align: center; float: none; }
    .page .header-language-background .links ul li.has-dropdown { background-position: 57px 10px; }
    .page .header-language-background .header-top-container .top-right-links { display: none; }
}

/** New Top Left Links **/
.header-cms-block { border-right: 1px solid #e5ebef; float: left; margin-right: 8px; padding-right: 8px; }
.header-cms-block.header-cms-block-2 { border-right: 0 none; margin-right: 0; padding-right: 0; }
.header-cms-block.header-cms-block-2 > img { padding-top: 2px; }
.header-cms-block > img { padding: 1px 5px 0 0; float: left; }
.header-cms-block > span { text-transform: none; color: #a2a2a2; font-size: 13px; }

/** Logo Styles **/
.page .page-header a.logo { padding: 0; min-height: 0; max-width: 235px; margin-right: 7%; }
.page .page-header a.logo:hover { opacity: 1; }

@media screen and (max-width: 770px) {
    .page .page-header a.logo { width: 100%; max-width: 100%; }
    .page .page-header a.logo img { margin: 0 auto; }
}
/**  Header Contacts Styles **/
.page .header-contacts-wrapper { overflow: hidden; width: 26.3%; text-align: center; margin: 0 auto; }
.page .header-contacts-wrapper div:nth-of-type(1) { margin-right: 20px; }
.page .header-contacts-wrapper span,
.page .header-contacts-wrapper div { float: left; line-height: 23px; text-transform: none; }
.page .header-contacts-wrapper div,
.page .header-contacts-wrapper div a { color: #a2a2a2; font-size: 13px; }
.page .header-contacts-wrapper div a:hover { opacity: 1; }
.page .header-contacts-wrapper .icon-phone { background: url('../images/phone-new.png') no-repeat 0 4px; height: 20px; width: 12px; }
.page .header-contacts-wrapper .icon-mail { background: url('../images/mail-new.png') no-repeat 0 7px; height: 21px; width: 20px; }
.page .header-contacts-wrapper div:nth-of-type(1) { margin-right: 33px; }

/**  Largescreen Header Styles **/
.page .page-header .largescreen-header { float: left; width: 54%; margin-top: 10px; display: block; }
.page .page-header .largescreen-header .largescreen-middle { width: 100%; float: left; }
.page .page-header .largescreen-header .largescreen-links { float: left; width: 19.3%;}

/** Search styles **/
.page .page-header .largescreen-header .largescreen-search .input-box { position: relative; }
.page .page-header .largescreen-header .largescreen-search input { width: 100%; height: 53px; padding: 0 65px 0 25px; border: 3px solid #cecece; border-radius: 5px; }
.page .page-header .largescreen-header .largescreen-search button.button { background: url('../images/search-icon.png') no-repeat center center #5bb300; height: 53px; width: 62px; position: absolute; top:2px; right:0; text-indent: -9999px; }

/** Compare and Wishlist **/
.page .login-links .header-compare { background: url('../images/compare-icon.png') no-repeat center left; padding-left: 11px; }
.page .login-links .header-wishlist { background: url('../images/wishlist-icon.png') no-repeat center left; padding-left: 12px; }


@media screen and (max-width: 770px) {
    .page .page-header .largescreen-header { display: none; }
    .page .header-top-container .top-left-links,
    .page .header-top-container .top-right-links,
    .page .header-top-container .header-contacts-wrapper { width: 100%; text-align: center; margin-bottom: 5px; }
    .page .header-top-container .top-left-links .header-cms-block { display: inline-block; float: none; }
    .page .header-top-container .header-contacts-wrapper > * { display: inline-block; float: none; }
}

@media screen and (min-width: 771px) and (max-width:1200px) {
    .page .header-cms-block { width: 100%; border-right: 0 none; padding-right: 0; margin-right: 0; }
    .page .top-right-links { width: 255px; text-align: center; }
    .page .top-right-links .login-links a:nth-of-type(2n) { margin-right: 0; padding-right: 0; border-right: 0 none; }
    .page .top-right-links .login-links a.last { padding-right: 27px; }
}

/**  Minicart Styles **/
.page .header-minicart .minicart-actions .cart-link { padding: 5px; border-radius: 3px; line-height: 27px; }
.page .page-header .header-minicart .subtotal .label { color: #5bb300; text-transform: none; }

@media screen and (min-width: 771px) {
    .page .page-header .skip-links .skip-account,
    .page .page-header #header-search { display: none; }

    .page .page-header .skip-links { overflow: visible; }
    .page .page-header .skip-links .header-minicart {  position: absolute; top: 14px; right: 0;}
    .page .page-header .skip-links .header-minicart .skip-cart { padding: 0; background: url('../images/cart-icon.png') no-repeat left center; min-height: 46px; position: static; }
    .page .page-header .skip-links .header-minicart .skip-cart .icon { display: none; }
    .page .page-header .skip-links .header-minicart .skip-cart .label.smallscreen { display: none; }
    .page .page-header .skip-links .header-minicart .skip-cart .label.largescreen { display: block; padding-left: 61px; text-align: left; font-size: 14px; color: #676767; line-height: 21px; text-transform: none; }
    .page .page-header .skip-links .header-minicart .skip-cart .count { position: absolute; top:5px; left: 16px; font-weight: 600; color: #fff; background-color: #5bb300; border-radius: 50%; font-size:14px; width: 22px; }
    .page .page-header .skip-links .header-minicart .skip-cart.no-count .count { display: block; }
    .page .page-header .skip-links .header-minicart .skip-cart .count:before,
    .page .page-header .skip-links .header-minicart .skip-cart .count:after { content: ""; }
    .page .page-header .skip-links .header-minicart .subtotal { display: block; line-height: 24px; background-color: transparent; text-align: left; padding-left: 61px; font-size: 17px; font-weight: 600; color: #5bb300; }
    .page .page-header .skip-links .header-minicart .block-content .subtotal { text-align: center; padding: 0; }
    .page .page-header .skip-links .header-minicart #header-cart.skip-active { top: 46px; }
}

@media screen and (max-width: 770px) {
    .page .page-header .skip-links .header-minicart .subtotal,
    .page .page-header .skip-links .header-minicart .label.largescreen { display: none; }
    .page .page-header .skip-links .header-minicart .label.smallscreen { display: inline; }
    .page .page-header .skip-links .header-minicart .count { position: absolute; top: 5px; left:5px; background-color: #fff; color: #5bb300; }
    .page .page-header .skip-links .header-minicart .minicart-actions .checkout-types { float: none; text-align: center; }
    .page .page-header .skip-links .header-minicart .minicart-actions ul li { display: block; width: 100%; }
    .page .page-header .skip-links .header-minicart .minicart-actions ul li .checkout-button { width: 100%; }
    .page .page-header .skip-links .header-minicart .minicart-actions .cart-link { position: static; width: 100%; display: block; }
}
@media screen and (max-width: 499px) {
    .page .page-header .skip-links .header-minicart .count { left: 13px; }
    .page .page-header .skip-links .header-minicart .label.smallscreen { display: none; }
}

.page .page-header .skip-content.skip-active { background-color: #fff; }
.page .page-header .header-minicart .block-subtitle,
.page .page-header .header-minicart .product-details .product-name a,
.page .price-box .price,
.page .header-minicart .subtotal .price,
.page .price,
.page .page-header .header-minicart .btn-edit,
.page .page-header .header-minicart a.remove,
.page .page-header .header-minicart .skip-link-close { background: transparent; color: #5bb300; }

@media screen and (max-width: 1194px) {
    .page .page-header .largescreen-header .largescreen-middle { width: 90%; }
    .page .page-header .header-contacts-wrapper div:nth-of-type(1) { margin-right: 5px; }
    .page .page-header .largescreen-header .largescreen-links { width: 25%; }
    .page .page-header .header-contacts-wrapper img, .page .page-header .header-contacts-wrapper div { font-size: 12px; }
}
@media screen and (min-width: 991px) and (max-width: 1194px) {
    .page .page-header .skip-links .header-minicart { right: 30px; }
}
@media screen and (max-width: 991px) {
    .page .page-header { max-width: 750px; margin: 0 auto; }
    .page .page-header .largescreen-header { width: 100%; margin-top: 5px; }
    .page .page-header .largescreen-header .largescreen-middle { width: 100%; padding: 15px; }
    .page .page-header a.logo { width: 100%; max-width: 100%; margin: 15px auto; padding: 0; max-height: 114px; }
    .page .page-header a.logo img { margin: 0 auto; }
    .page .page-header .header-contacts-wrapper { width: 200px; margin: 0 auto 20px; }
    .page .page-header .header-contacts-wrapper div:nth-of-type(1) { margin: 0 0 5px 0; }
    .page .page-header .header-contacts-wrapper div { font-size: 14px; line-height: 20px; }
    .page .page-header .largescreen-header .largescreen-links { width: 100%; margin-top: 10px; }
    .page .page-header .largescreen-header .largescreen-search { padding: 0 5%; }
}
@media screen and (min-width: 771px) and (max-width: 991px) {
    .page .page-header .skip-links .header-minicart { position: absolute; right: 60px; bottom: -30px; top: auto; }
    .page .page-header .skip-links .header-minicart .skip-cart,
    .page .page-header .skip-links .header-minicart #header-cart.skip-active { position: static !important; }
    .page .page-header .skip-links .header-minicart #header-cart.skip-active { position: absolute !important; top: 50px; }
}
@media screen and (max-width: 991px) {
    .page .page-header .largescreen-header .largescreen-links .header-links { margin-left: 0; }
}

/** Main Menu Styles - Large screen **/
/** Home Icon **/
.page #header-nav #nav .nav-primary li.home-icon { display: none; background: url('../images/home-icon.png')no-repeat; height: 27px; width: 30px; text-indent: -9999px; margin-right: 15px; }
.page #header-nav #nav .nav-primary li.level0.first > a { border-left: 1px solid #54a700; }
.page #header-nav #nav .nav-primary li.home-icon:hover { opacity: 0.9; }

@media screen and (min-width: 770px) {
    .page #header-nav #nav .nav-primary li.home-icon { display: inline-block; }
    .page #header-nav { background-color: #5bb300; width: 100%; height: 59px; border-bottom: 0 none; }
    .page #header-nav #nav { max-width: 1200px; margin: 0 auto; padding: 0 15px; }
    .page #header-nav #nav .nav-primary li.level0 { padding-bottom: 15px; }
    .page #header-nav #nav .nav-primary li.level0:hover > a { background-color: #54a90f; opacity: 1; }
    .page #header-nav #nav .nav-primary li.level0 > a { font-size: 16px; font-weight: 600; color: #fff; line-height: 59px; padding-right: 24px; border-right: 1px solid #54a700; }

    /** Submenu large screen **/
    .page #header-nav #nav.normal-menu .nav-primary li.level0 ul { background-color: #5bb300; border-color: #54a700; }
    .page #header-nav #nav.normal-menu .nav-primary li.level0 ul {padding:0; top: 72px; border-width: 1px 0 0 0; border-top: 1px solid #59b210; left: auto; background-color: #fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); min-width: 160px; }
    .page #header-nav #nav.normal-menu .nav-primary li.level0 ul li ul { top: 10px; left: 170px; }
    .page #header-nav #nav.normal-menu .nav-primary li.level0 ul li a,
    .page #header-nav #nav.normal-menu .nav-primary li.level0 ul li ul li a { color: #333; font-weight: 400; white-space: nowrap; border-bottom: 1px solid #e0e0e0; text-align: left; padding: 0 16px; }
    .page #header-nav #nav.normal-menu .nav-primary li.level0 ul li.last > a { border-bottom: 0 none; }
    .page #header-nav #nav.normal-menu .nav-primary li.level0 ul li:hover { background-color: #f5f5f5; color: #262626; }

    .page #header-nav #nav.normal-menu .nav-primary li.level0 > a.has-children:before { display: none; left: auto; right: 45%; bottom: -22%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-width: 5px; margin-left: -5px; border-bottom-color: #59b210; }
    .page #header-nav #nav.normal-menu .nav-primary li.level0:hover > a.has-children:before { display: block; }
}
@media screen and (min-width: 771px) and (max-width: 991px) {
    .page #header-nav #nav .nav-primary li.level0 > a { font-size: 14px; padding: 0 15px; }
}

/** Main Menu Styles - Small screen **/
@media screen and (max-width: 770px) {
    .page .page-header-container .skip-links a { color: #fff; background-color: #5bb300; opacity: 1; }
    .page #header-nav { max-width: 1200px; margin: 0 auto; padding: 0 15px; background-color:transparent; }
    .page #header-nav .normal-menu .nav-primary li a { color: #fff; background-color: #5bb300; opacity: 1; }

    /** Submenu small screen **/
    .page #header-nav.skip-active .normal-menu .menu-active > ul { background-color: #fff; }
    .page #header-nav.skip-active .normal-menu .menu-active > ul li { padding: 0; }
    .page #header-nav.skip-active .normal-menu .menu-active > ul li a { color: #333; }
    .page #header-nav.skip-active .normal-menu .menu-active > a:hover,
    .page #header-nav.skip-active .normal-menu .menu-active > a,{ opacity: 1; background-color: #f5f5f5; color: #333; }

    .page #header-nav.skip-active .normal-menu .menu-active > ul li a { background-color: transparent; }

    .page #header-nav.skip-active .normal-menu li > a:hover,
    .page #header-nav.skip-active .normal-menu li.menu-active > a { background-color: #54a700; opacity: 1; }
    .page #header-nav.skip-active .normal-menu .menu-active > ul li a:hover,
    .page #header-nav.skip-active .normal-menu .menu-active > ul li.sub-menu-active > a { opacity: 1; color: #333; background-color: #f5f5f5;  }

    /** Header Account **/
    .page #header-account { padding-top: 0; }
    .page #header-account li a,
    .page .nav-primary a.level0 { color: #fff; background-color: #5bb300;  }
    .page #header-account li a:hover,
    .page .nav-primary a.level0:hover { background-color: #54a90f; opacity: 1; }

    /** Header Search **/
    .page #header-search,
    .page #header-search button.search-button { background: #5bb300; }
    .page #header-search #search { border-radius: 5px; }

}

/** Fullpage slider Styles **/
body.cms-home .page .main-container { max-width: 100%; padding: 0; }
body.cms-home .page .main-container .slideshow-container { border: 0 none; max-width: 1200px; padding: 0 15px; margin: 20px auto 20px; }
body.cms-home .page .main-container .slideshow-container .slideshow { border: 1px solid #ddd; }
body.cms-home .page .main-container .slideshow-container .slideshow li.slide a:hover { opacity: 1; }

body.cms-home .page .main-container .slideshow-container .slideshow li.slide { position: relative; background-color: #ffffff; }
body.cms-home.full-width-slider .page .main-container .slideshow-container { max-width: 100%; padding: 0; }
body.cms-home.full-width-slider .page .main-container .slideshow-container .slideshow { border: 0 none; }
.homepage-text-wrapper { background-color: #c4e0f3; padding-top: 40px; padding-bottom: 40px; }

@media screen and (max-width: 770px) {
    body.cms-home .page .main-container .slideshow-container { max-width: 1200px; margin: 0 auto 30px; padding: 0 15px; }
}


/** Promo Blocks Styles **/
.page .main-container .content-wrapper .promo-blocks {  }
.page .main-container .content-wrapper .promo-blocks .home-promo { float: left; width: 48.7%; margin-right: 2.6%; position: relative; }
.page .main-container .content-wrapper .promo-blocks .home-promo.last { margin-right: 0; text-align: right; }
.page .main-container .content-wrapper .promo-blocks .home-promo img { max-width: 100%; }

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .page .main-container .content-wrapper .promo-blocks .home-promo.product-cms-block h3 { font-size: 20px; }
    .page .main-container .content-wrapper .promo-blocks .home-promo.product-cms-block ul li { font-size: 10px; background-size: 16px 15px; padding-left: 20px; }
}
@media screen and (max-width: 991px){
    .page .main-container .content-wrapper .promo-blocks .home-promo { width: 100%; margin: 0 0 15px 0; float: none; }
}

@media screen and (min-width: 770px) {
    .page .main-container .content-wrapper .promo-blocks .home-promo { min-height: 156px; }
    .page .main-container .content-wrapper .promo-blocks .home-promo ul { margin-bottom: 0; }
    .page .main-container .content-wrapper .promo-blocks .home-promo.product-cms-block h3 { margin-top: 10px; margin-bottom: 20px; }
}

/** Footer Styles **/
.page .footer-container { background-color: #f8f8f8; width: 100%; max-width: none; padding: 0; }
.footer-container .footer { max-width: 1200px; margin: 0 auto; border-top: 0 none; padding: 78px 15px 0; overflow: hidden;  }

/** Footer Logo  **/
.footer-container .footer .footer-logo { overflow: hidden; width: 25%; margin-bottom: 85px; padding-right: 0; margin-right:5%; }
.footer-container .footer .footer-logo > img { margin: 0 0 20px; max-width: 100%; }
.footer-container .footer .footer-logo span { color: #868686; }
.footer-container .footer .footer-logo > a { text-decoration: underline; color: #5bb300; display: block; margin:40px 0 35px; }
.footer-container .footer .footer-logo h6 { font-size: 16px; color: #575757; margin:20px 0; letter-spacing: -1px; text-transform: none;}
.footer-container .footer .footer-logo ul { overflow: hidden; }
.footer-container .footer .footer-logo ul li { float: left; margin-right: 9px; }
.footer-container .footer .links ul li a > img { max-width: 100%; }

/** Absolute Footer **/
.absolute-footer { background-color: #3c3c3c; }
.absolute-footer .absolute-footer-container { max-width: 1200px; margin: 0 auto; overflow: hidden; padding: 15px; }
.absolute-footer .absolute-footer-container .copyright { float: left; color: #868686; }
.absolute-footer .absolute-footer-container .copyright > span { color: #fff; font-weight: 600; }
.absolute-footer .absolute-footer-container .credit-card-logo { float: right; }
.absolute-footer .absolute-footer-container .credit-card-logo img { width: 100%; max-width: 100%; }

@media screen and (max-width: 770px) {
    .absolute-footer .absolute-footer-container .copyright { float: none; text-align: center; margin-bottom: 20px; }
    .absolute-footer .absolute-footer-container .credit-card-logo { float: none; }
    .absolute-footer .absolute-footer-container .credit-card-logo > img { margin: 0 auto; }
}

/** Footer Links **/
.footer-container .footer .links .block-title { border-top: 0 none; margin-bottom: 25px; }
.footer-container .footer .links .block-title strong span { color: #575757; font-size: 16px; font-weight: 600; text-transform: none; letter-spacing: -1px;  }
.footer-container .footer .links ul li a,
.footer-container .footer .links > span { font-size: 14px; color: #868686; text-transform: none; letter-spacing: -1px; }
.footer-container .footer .links > span { display: block; padding: 4px 0; line-height: 1.4; }

@media screen and (min-width:992px) and (max-width: 1199px) {
    .footer-container .footer .links { width: 17%; }
    .footer-container .footer .footer-logo { width: 18%; margin-right: 4%; }
}
@media screen and (max-width: 991px) {
    .footer-container .footer .footer-logo.links { width: 100%; }
    .footer-container .footer .footer-logo > img { margin: 0 auto 35px; }
    .footer-container .footer .footer-logo h6 { text-align: center; }
    .footer-container .footer .footer-logo ul { max-width: 324px; width: 100%; margin: 0 auto; }
    .footer-container .footer .links { width: 25%; margin-right: 0; text-align: center; }
    .footer-container .footer .footer-links { width: 100%; overflow: hidden; margin: 0 auto; text-align: center; }
}
@media screen and (max-width: 598px) {
    .footer-container .footer .footer-links .links { width: 100%; }
    .footer-container .footer .footer-logo ul { max-width: 290px; }
}

/** Footer Newsletter **/
.footer-container .footer-newsletter { padding-top: 70px; }
.footer-container .footer-newsletter .footer-border { background-color: #e2e4e6; height: 1px; width: 100%; position: absolute; top: 105px; }
.footer-container .footer-newsletter .block-subscribe { max-width: 795px; margin: 0 auto; position: relative; z-index: 99; }
.footer-container .footer-newsletter .block-subscribe .block-content { overflow: hidden; }
.footer-container .footer-newsletter .block-subscribe .input-box,
.footer-container .footer-newsletter .block-subscribe .actions { float: left; }
.footer-container .footer-newsletter .block-subscribe .actions { margin-top: 0; }
.footer-container .footer-newsletter .block-subscribe .input-box { width: 88%; max-width: 660px; padding-top: 0; }
.footer-container .footer-newsletter .block-subscribe .input-box input { width: 100%; max-width: 660px; height: 58px; border: 1px solid #dfdfdf; border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
.footer-container .footer-newsletter .block-subscribe .actions .button { background-color: #5bb300; padding: 19px 28px; border-radius: 0 7px 7px 0; }
.footer-container .footer-newsletter .block-subscribe .actions .button span { font-weight: 600; text-transform: none; font-size: 16px; padding: 0; }
.footer-container .footer-newsletter .block-subscribe .actions .button:hover span { background-color: transparent; }
.footer-container .footer-newsletter .block-subscribe .actions .button:hover { background-color: #60c011; }

@media screen and (min-width:770px) and (max-width: 991px) {
    .footer-container .footer-newsletter .block-subscribe .input-box { width: 100%; max-width: 395px; }
    .footer-container .footer-newsletter .block-subscribe { max-width: 530px; }
}
@media screen and (max-width: 769px) {
    .footer-container .footer-newsletter { padding: 15px; }
    .footer-container .footer-newsletter .block-subscribe,
    .footer-container .footer-newsletter .block-subscribe .input-box { width: 100%; max-width: none; margin-bottom: 5px; }
    .footer-container .footer-newsletter .block-subscribe .input-box input { width: 100%; max-width: none; }
    .footer-container .footer-newsletter .footer-border { display: none; }
    .footer-container .footer-newsletter .block-subscribe .actions,
    .footer-container .footer-newsletter .block-subscribe .actions .button { width: 100%; border-radius: 7px; }
    .footer-container .footer .footer-logo ul li { margin-right: 9px; }
}

/** Homepage text styles **/
.page .homepage-text { max-width: 1200px; margin: 0 auto 30px; padding: 0 15px; overflow: hidden;}
.page .homepage-text h3.title { text-transform: none; margin-bottom: 0px; color: #333; text-align: center; }
.page .homepage-text .text-block { float: left; width: 33%; margin-right: 0.5%; padding-right: 3%; }
.page .homepage-text .text-block.last { margin-right: 0; }
.page .homepage-text .text-block  h5 { text-transform: none; margin-top: 15px; color: #333; }
.page .homepage-text .text-block a { color: #333; }

@media screen and (max-width: 770px) {
    .page .homepage-text .text-block { width: 100%; padding: 0 1.5%; }
    .page .homepage-text .text-block h5 { margin-top: 10px; font-size: 14px; }
}

/** Homepage Product Tabs **/
.page .main-container .homepage-category-titles { max-width: 1200px; padding: 0 15px; margin: 30px auto 0; overflow: hidden; height: 62px; display: table; width: 100%; }
.page .main-container .homepage-category-titles .title-container { cursor: pointer; display: inline-block; vertical-align: bottom; }
.page .main-container .homepage-category-titles .title-container h2 { background-color: #f9f9f9; font-size: 15px; line-height: 13px; margin: 13px 3px 0; padding: 18px 39px; text-transform: capitalize; border-radius: 4px 4px 0 0; transition: all 0.3s ease 0s; border: 0 none; color:#3d3d3d; font-weight: 400; }
.page .main-container .homepage-category-titles .title-container h2:hover { background-color: #eee; text-decoration: none; }
.page .main-container .homepage-category-titles .title-container.active h2 { margin-top: 0 !important; background-color: #59b210; color: #fff; font-size: 19px; font-weight: 600; padding: 16px 53px; text-transform: capitalize; line-height: 30px; margin-left: 0; }

/** Homepage Products Styles  **/
.page .category-products.homepage-products { padding-left: 15px; padding-right: 15px; }
.page .category-products.homepage-products .products-container ul li.item { min-height: 0; border-right: 0 !important; }
.page .category-products.homepage-products .products-container ul > li.item:nth-of-type(3n) { padding-right: 1px; }
.page .category-products.homepage-products .products-container ul > li.item:nth-of-type(4n) { border-right: 1px solid #ececec !important; padding-right: 0; }

@media screen and (max-width: 990px) {
    .page .main-container .homepage-category-titles { margin-top: 10px; }
    .page .main-container .homepage-category-titles .title-container h2.subtitle { font-size: 17px; }
    .page .category-products.homepage-products { padding: 0 15px; max-width: 1200px; }
    .page .category-products.homepage-products .products-container ul > li.item { width: 50%; margin-bottom: 0; clear: none !important; }
    .page .category-products.homepage-products .products-container ul > li.item:nth-of-type(2n) { border-right: 1px solid #ececec !important; padding-right: 0; }
}
@media screen and (max-width: 769px) {
    .page .category-products.homepage-products { padding: 0 15px; max-width: 1200px; }
    .page .homepage-category-titles { margin-bottom: 20px; border-radius: 4px; margin-top: 10px; }
    .page .homepage-category-titles .title-container { width: 100%; border: 1px solid #ececec; }
    .page .homepage-category-titles .title-container h2.subtitle { border-radius: 0; margin:0; text-align: left; font-size: 15px; padding: 18px 39px; margin: 0; line-height: 24px;}
    .page .category-products.homepage-products .products-container ul li.item { border-top: 0 none; }
    .page .category-products.homepage-products .products-container li.item:nth-of-type(3n) { border-right: 0; }
    .page .category-products.homepage-products .products-container ul li.item .product-name a,
    .page .category-products.homepage-products .products-container ul li.item .price-box .regular-price .price,
    .page .category-products.homepage-products .products-container ul li.item .price-box .special-price .price { font-size: 13px; }
    .page .category-products.homepage-products .products-container ul li.item .hover-area .actions .add-to-links li a { font-size: 11px; }
    .page .category-products.homepage-products .products-container ul li.item .hover-area .actions .button { padding: 5px 20px;  }
}

/** Product View Styles **/
.catalog-product-view .zoomContainer { z-index: 99; }
.catalog-product-view .zoomContainer .zoomWindow { background-color: #fff; }

.page .main .product-view .add-to-cart-wrapper { clear: none; float: none; width: auto; padding: 0; }
.page .main .product-view .product-essential .product-shop { padding-left: 50px; width: 53%; margin-bottom: 15px; }

/** Raitings and Availability **/
.page .main .product-view .extra-info { width: 100%; max-width: 100%; float: none; padding: 0; overflow: hidden; margin-bottom: 0; }
.page .main .product-view .extra-info .ratings,
.page .main .product-view .extra-info .availability-wrapper { float: left; width: auto; margin-top: 7px; }
.page .main .product-view .extra-info .availability-wrapper .availability.in-stock .label { text-transform: none; color: #707070; margin-right: 3px; font-size: 11px; font-weight: 700; line-height: 20px; display: inline; }
.page .main .product-view .extra-info .availability-wrapper .availability.in-stock .value { font-size: 11px; text-transform: capitalize; line-height: 20px; font-weight: 700; }
.page .main .product-view .extra-info .rating-box { position: relative; }
.page .main .product-view .extra-info .rating-box .rating .review-link { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.page .main .product-view .extra-info > a.nobr { display: block; margin-top: 5px; }

/** Product Name **/
.page .main .product-view .product-shop .product-name { margin-bottom: 10px; width: 100%; }
.page .main .product-view .product-shop .product-name span.h1 { font-size: 25px; font-weight: 700; color: #3d3d3d; line-height: 25px; text-transform: none; width: 100%; padding: 0; margin: 0; }

/** Product SKU **/
.page .main .product-view .product-shop .product-name .sku { color: #676767; font-size: 12px; }
.page .main .product-view .product-shop .product-name .sku span {}

/** Add to Cart button **/
.page .main .product-view .add-to-cart { float: left; border-bottom: 0 none; }
.page .main .product-view .add-to-cart .add-to-cart { border-bottom: 0 none; padding-bottom: 0; margin-bottom: 0; }
.page .main .product-view .add-to-cart .add-to-cart-buttons button.btn-cart { float: none; min-width: 0; margin: 0; padding: 0; height: auto; line-height: 60px; width: 217px; }
.page .main .product-view .add-to-cart .add-to-cart-buttons button.btn-cart span  { float: none; font-size: 15px; text-transform: uppercase; height: auto; min-width: 0; font-weight: 700; line-height: 20px;}
.page .main .product-view .add-to-cart .qty-wrapper { margin-bottom: 0; margin-right: 18px; }
.page .main .product-view .add-to-cart .qty-wrapper input.qty { width: 60px; height: 60px; padding: 5px 12px; font-size: 18px; font-weight: 600; }
.page .main .product-view .add-to-cart .qty-wrapper label { display: none; }

/** Add to Links and Sharing Links **/
.page .main .product-view .product-shop .add-to-links { float: left; margin-right: 0; clear: none; }
.page .main .product-view .product-shop .add-to-links li { color: #3d3d3d; font-size: 12px; line-height: 55px; text-transform: capitalize; }
.page .main .product-view .product-shop .add-to-links li a.link-wishlist { border-right: 0 none; background: url('../images/wishlist-icon-big.png') left center no-repeat; padding-left: 25px; }
.page .main .product-view .product-shop .add-to-links li a.link-compare { background: url('../images/compare-icon-big.png') left center no-repeat; padding-left: 25px; }
.page .main .product-view .product-shop .add-to-links li:hover a { color: #59b210; opacity: 1; }

/** Product Type Specific Styles **/
.page .main .product-view.grouped .product-shop .grouped-items-table-wrapper { margin-top: 10px; }
@media screen and (max-width: 770px) {
    .page .main .product-view .add-to-cart .qty-wrapper { margin-bottom: 10px; }
    .page .main .product-view .product-shop .grouped-items-table-wrapper .price { font-size: 15px; }
    .page .main .product-view .product-shop .grouped-items-table-wrapper .availability { font-size: 13px; }
}
.page .main .product-view .product-options ul.options-list li { margin-bottom: 1px; }
.page .main .product-view .product-options ul.options-list li label { padding-bottom: 0; }

.page .main .product-view.bundle .price-info > .price-label { width: 100%; text-align: left;  }
.page .main .product-view.bundle .price-info .price-box .price-label { font-size: 16px; line-height: 24px; font-weight: 400; }
.page .main .product-view.bundle .price-info .price-box .price-as-configured .price-label { font-weight: 600; line-height: 36px; }

/** Swatches **/
.page .main .product-view .input-box .swatch-link { background: #eaebeb; border: 1px solid #eaebeb; background-image: none; }

.product-view .size-guide-link { text-decoration: underline; }

/** Short Description **/
.page .main .product-view .product-shop .short-description .std { font-size: 15px; color: #5d5d5d; line-height: 17px; margin-bottom: 11px; }

/** Product CMS Block **/
.wrapper .page .product-cms-block { background: transparent url('../images/bg-product-cms.png') left top; border-radius: 5px; overflow: hidden; padding: 13px 16px; color: #676767; box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.15); }
.wrapper .page .product-cms-block h3 { font-weight: normal; font-size: 25px; color: #676767; text-align: left; }
.wrapper .page .product-cms-block h3 img { vertical-align: bottom; display: inline; padding-right: 14px; }
.wrapper .page .product-cms-block ul { float: left; list-style: none; }
.wrapper .page .product-cms-block ul li { padding: 0 14px 10px 25px; background: url('../images/icon-check.png') left 1px no-repeat; font-size: 11px; line-height: 18px; color: #676767; margin: 0; text-align: left; }

@media screen and (max-width: 450px) {
    .wrapper .page .product-cms-block ul { width: 100%; }
    .wrapper .page .product-cms-block h3 { font-size: 15px; }
}

/** Price **/
.page .main .product-view .product-shop .price-info { float: left; padding-left: 0; max-width: 100%; width: 100%; overflow: hidden; margin-bottom: 0; }
.page .main .product-view .product-shop .price-info .price-label { float: left; font-size: 25px; color: #000; font-weight: 700; line-height: 1.4; padding-right: 10px; }

.page .main .product-view .product-shop .price-info .price-box { text-align: left; margin-bottom: 4px; }
.page .main .product-view .product-shop .price-info .price-box .old-price { float: left; margin-left: 15px;  }
.page .main .product-view .product-shop .price-info .price-box .old-price .price { font-size: 25px; font-weight: 600; color: #e0e0e0; line-height: 35px; text-decoration: none; position: relative; }
.page .main .product-view .product-shop .price-info .price-box .old-price .price:after { border-bottom: 2px solid #e0e0e0; width: 100%; position: absolute; left: 0; top: 50%; content: ""; }
.page .main .product-view .product-shop .price-info .price-box .special-price { padding-left: 0; float: left; }
.page .main .product-view .product-shop .price-info .price-box .special-price .price,
.page .main .product-view .product-shop .price-info .price-box .regular-price .price { font-size: 25px; color: #000; font-weight: 700; line-height: 1.4; }

.page .main .product-view .map-info span.msrp-price-hide-message { float: left; }
.page .main .product-view .map-info > a { float: left; margin-bottom: 10px; }

/** Product Image **/
.page .main .product-view .product-image:hover { border-color: #11b400; }
.page .main .product-view .product-essential .product-img-box { width: 47%; padding-right: 0;  }
.page .main .product-view .product-essential .product-img-box .product-image { border: 1px solid #e0e0e0; padding: 10px; }
.page .main .product-view .product-essential .more-views {}
.page .main .product-view .product-essential .more-views ul { overflow: hidden; }
.page .main .product-view .product-essential .more-views ul li { margin-left: 10px; }
.page .main .product-view .product-essential .more-views ul li:first-child { margin-left: 0; }
.page .main .product-view .product-essential .more-views ul li { float: left; }
.page .main .product-view .product-essential .more-views ul li a { border: 1px solid #e0e0e0; }
.page .main .product-view .product-essential .more-views ul li a img {}

/** Product Info Tabs **/
.page .main .product-view .product-collateral { background-color: transparent; }
.page .main .product-view .product-collateral .collateral-tabs { background-color: #fff; }
.page .main .product-view .product-collateral .tab-container { border: 1px solid #e0e0e0; }
.page .main .product-view .product-collateral .toggle-tabs { border: 0 none; background-color: transparent; display: table; }
.page .main .product-view .product-collateral .collateral-tabs .tab-container { padding: 35px; }
.page .main .product-view .product-collateral .collateral-tabs .tab-container .tab-content { font-size: 15px; line-height: 1.42857; color: #5d5d5d; }

.page .main .product-view .product-collateral .collateral-tabs .tab-container .tab-content h2,
.page .main .product-view .product-collateral .collateral-tabs .tab-container .tab-content #customer-reviews h2,
.page .main .product-view .product-collateral .collateral-tabs .tab-container .tab-content #customer-reviews .review-meta { color: #59b210; }

.page .main .product-view .product-collateral .toggle-tabs li { border-right: 0 none; border-left: 0 none; transition: all 0.3s ease 0s; padding: 0; display: inline-block; vertical-align: bottom; float: none; }
.page .main .product-view .product-collateral .toggle-tabs li > span { background-color: #f9f9f9; border-radius: 4px 4px 0 0; color: #3d3d3d; font-size: 15px; text-transform: capitalize; height: auto; line-height: 13px; padding: 18px 39px; bottom: 0; display: block; transition: all 0.3s ease 0s; margin: 9px 3px 0; font-weight: 600;}
.page .main .product-view .product-collateral .toggle-tabs li.current > span { background-color: #59b210; color: #fff; font-size: 19px; line-height: 30px; font-weight: 600; padding: 14px 44px; margin: 0 3px 0 0; }

@media screen and (max-width: 770px) {
    .page .main .product-view .product-collateral .toggle-tabs {display: none; }
    .page .main .product-view .product-collateral dt { background-color: #f9f9f9; color: #3d3d3d; transition: all 0.3s ease 0s; padding: 18px 39px; font-size: 15px; line-height: 24px; text-transform: capitalize; }
    .page .main .product-view .product-collateral dt.current { background-color: #59b210; color: #fff; font-weight: 600; }
    .page .main .product-view .product-collateral dt:after { border-left-color: #3d3d3d; border-top-color: transparent; }
    .page .main .product-view .product-collateral dt.current:after { border-left-color: #fff; border-top-color: transparent; }
    .page .main .product-view .product-collateral.accordion-open dt.current:after { border-top-color: #fff; border-left-color: transparent; }
}

/** Product Options and Attributes **/
.page .main .product-view .product-shop .product-options { border: 0 none; border-bottom: 1px solid #c0c0c0; border-top: 1px solid #c0c0c0; padding: 20px 0 10px; margin-top: 0; }
.page .main .product-view .product-shop .product-options-bottom { background-color: transparent; padding-left: 0; border: 0 none; padding: 25px 0 15px 0; margin-bottom: 0; }
.page .main .product-view .product-shop .add-to-cart { border-bottom: 0 none; border: 0 none; }
.page .main  .product-view .add-to-cart-buttons { margin-right: 18px; }
.page .main .product-view .product-shop .product-options-bottom .add-to-links { clear: none; }

.tab-container .tab-content #product-attribute-specs-table { max-width: none; margin-bottom: 0; }
.tab-container .tab-content #product-attribute-specs-table,
.tab-container .tab-content #product-attribute-specs-table th,
.tab-container .tab-content #product-attribute-specs-table td { border: 0 none; padding: 5px 0 5px 0;}
.tab-container .tab-content #product-attribute-specs-table tr { border-bottom: 1px solid #e0e0e0; width: 100%; }
.tab-container .tab-content #product-attribute-specs-table th { background-color: transparent; font-weight: 700; color: #3d3d3d; text-transform: capitalize; line-height: 20px; }
.tab-container .tab-content #product-attribute-specs-table td { color: #3d3d3d; line-height: 20px; }

.page .main .product-view .product-shop .product-options .input-box ul li .label label { background-color: transparent; cursor: pointer }

/** Tax notice **/
.page .main .product-view .product-shop .tax-notice span { font-size: 12px; color:#676767; }


/** Upsells **/
.page .main .product-view .box-up-sell { margin-top: 25px; }
.page .main .product-view .box-up-sell h2 { color: #000; text-transform: none; font-size: 25px; font-weight: bold; }
.page .main .product-view .box-up-sell li.item:nth-of-type(3n) { padding: 30px 30px 15px; }

/** Crosssells **/
.crosssell .item .product-name > a { font-size: 12px; }

/** Product View - Related Products  **/
.page .main .product-view .block-related { width: 100%; padding-left: 0; }
.page .main .product-view .block-related .block-title { border-top: 0 none; margin: 0; padding-top: 24px; }
.page .main .product-view .block-related .block-title h2 { font-size: 25px; color: #3d3d3d; line-height: 35px padding: 0 23px 0 0; text-transform: capitalize; letter-spacing: -1px; font-weight: bold; }
.page .main .product-view .block-related .block-subtitle { font-size: 12px; font-weight: normal; }
.page .main .product-view .block-related .item { border: 0 none; min-height: 0; float: left; width: 23%; margin: 0 2% 0 0; clear: none; }
.page .main .product-view .block-related .item.last { margin-right: 0; }
.page .main .product-view .block-related .item .product { margin: 0; }
.page .main .product-view .block-related .item .product .product-image { float: none; clear: both; }
.page .main .product-view .block-related .item .product .product-image img { width: 100%; height: auto; }
.page .main .product-view .block-related .item .product .product-details { width: 100%; overflow: hidden; margin: 0; }
.page .main .product-view .block-related .item .product .product-details .checkbox { margin: 0; float: none; vertical-align: middle; }
.page .main .product-view .block-related .item .product .product-details .product-name { display: block !important; }
.page .main .product-view .block-related .item .product .product-details .product-name a { font-size: 12px; text-transform: none; }

/** Product View - Size Guide **/
.size-guide-link { text-decoration: underline; }
.size-guide-link:hover { cursor: pointer; }
.popup-overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 10000; background-color: rgba(50, 50, 50, 0.5); }
.page .main .popup-container { z-index: 10001; width: 500px; position: fixed; top: 200px; left: 50%; margin-left: -250px; background-color: #fff; border: 1px solid #eee; }
.page .main .popup-container .close { position: absolute; border: 1px solid #000; border-radius: 30px; width: 25px; height: 25px; line-height: 22px; text-align: center; top: -12px; right: -12px; background-color: #cfcfcf; color: #000; text-transform: lowercase; font-weight: bold; text-indent: 1px; }
.page .main .popup-container .close:hover { opacity: 1; }
.page .main .popup-container .popup-inner-container { padding: 15px; }

.page .main .product-view .size-guide-container { clear: both; margin-top: 8px; }
.page .main .product-view .size-guide-container .size-guide { font-size: 12px; }

@media screen and (max-width: 520px) {
    .page .main .popup-container { width: 300px; margin-left: -150px; }
}

.page .main-container .product-view  { overflow: hidden; }

/** Block Product Upsell **/
.page .main-container .product-view .box-up-sell { padding: 0; }
.page .main-container .product-view .box-up-sell li.item { width: 23.5%; margin-right: 2%; border: 1px solid #ececec; padding: 30px 30px 15px; }
.page .main-container .product-view .box-up-sell li.item:nth-of-type(4n) { margin-right: 0; }
.page .main-container .product-view .box-up-sell li:nth-of-type(3n+1) { clear: none; }
.page .main-container .product-view .box-up-sell li.item .product-image { border: 0 none; }
.page .main-container .product-view .box-up-sell li.item .product-name { border-bottom: 1px solid #ececec; min-height: 40px; }
.page .main-container .product-view .box-up-sell li.item .product-name a { font-size: 13px; font-weight: bold; color: #1859a9; text-transform: none; }
.page .main-container .product-view .box-up-sell li.item .hover-area { position: static; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions { display: block; position: relative; overflow: hidden; padding-top:0; min-height: 0; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions .button { width: 100%; }
.page .main-container .product-view .box-up-sell li.item .price-box { margin: 0; padding: 0 0 11px; overflow: hidden; min-height: 32px; }
.page .main-container .product-view .box-up-sell li.item .price-box .regular-price .price,
.page .main-container .product-view .box-up-sell li.item .price-box .special-price .price { color: #2a1051; font-size: 13px; font-weight: 700; float: right; line-height: 1.42857; }
.page .main-container .product-view .box-up-sell li.item .price-box .old-price .price { font-size: 13px; color: #d3d3d3; line-height: 20px; text-decoration: none; font-weight: 700; float: left; }
.page .main-container .product-view .box-up-sell li.item .price-box .price-from { float: left; }
.page .main-container .product-view .box-up-sell li.item .price-box .price-to { float: right; }

.page .main-container .product-view .box-up-sell li.item .hover-area .actions .add-to-links { overflow: hidden; margin: 5px 0 0; text-align: center; width: 100%; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions .add-to-links li a:before { color:#c6c6c6; font-size: 18px; margin: 0 5px 0 0; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions .add-to-links li { display: inline-block; float: none; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions .add-to-links li a { color: #3d3d3d; display: inline-block; font-size: 10px; line-height: 24px; text-transform: capitalize; border: 0 none; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions .add-to-links li a:hover { opacity: 1; color: #59b210; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions .add-to-links li a.link-wishlist { background: url('../images/wishlist-icon.png')left center no-repeat; padding-left: 16px; }
.page .main-container .product-view .box-up-sell li.item .hover-area .actions .add-to-links li a.link-compare { background: url('../images/compare-icon.png')left center no-repeat; padding-left: 16px; }

.page .main-container .product-view .box-up-sell li:nth-of-type(4n+1) { clear: left; }

@media screen and (max-width: 990px) {
    .page .main-container .product-view .box-up-sell li.item { width: 49%; margin-right: 2%; margin-bottom: 17px; }
    .page .main-container .product-view .box-up-sell li.item:nth-of-type(2n) { clear: right; margin-right: 0; }
    .page .main-container .product-view .box-up-sell li:nth-of-type(2n+1) { clear: left; }
}

@media screen and (max-width: 770px) {
    .page .main .product-view .product-essential .product-img-box { width: 100%; }
    .page .main .product-view .product-essential .product-shop,
    .page .main .product-view .product-essential .add-to-cart-wrapper { width: 100%; padding-left: 0; }
}
@media screen and (max-width: 499px) {
    .page .main .product-view .block-related .item { width: 49%; margin-right: 2%; }
    .page .main .product-view .block-related .item.last { margin-right: 2%; }
    .page .main .product-view .block-related .item:nth-of-type(2n) { margin-right: 0; }
    .page .main-container .product-view .box-up-sell li.item { width: 100% !important; float: none; margin-right: 0 !important; margin-bottom: 17px; }
}

/** Product Grid  Styles **/
.page .category-products { max-width: 1200px; padding: 0; margin: 0 auto ; }
.page .category-products .products-container { padding-bottom: 20px; }
.page .category-products .products-container .toolbar {  background-color: #f9f9f9; border-radius: 5px; padding: 13px; border: 1px solid #ececec; }
.page .category-products .products-container .toolbar.toolbar-bottom { border: 0 none; }
.page .category-products .products-container ul > li.item { width: 25%; min-height: 401px; border: 1px solid #ececec; border-right: 0 none; margin-right: 0; padding-right: 1px; }
.page .category-products .products-container ul > li.item:hover { z-index: 99; }
.page .category-products .products-container ul > li.item:hover .item-wrapper { box-shadow: 0 0 5px 0 #c6c6c6; }
.page .category-products .products-container ul li.item:last-child { border-right: 1px solid #ececec; }
.page .category-products .products-container ul li.item .item-wrapper { padding-top: 5px; }
.page .category-products .products-container ul li.item .product-info {  }
.page .category-products .products-container ul li.item .product-image,
.page .category-products .products-container ul li.item .product-image:hover { border: 0 none; opacity: 1; }
.page .category-products .products-container ul li.item .product-image > img { width: auto; margin: 0 auto; max-width: 100%; }

.page .category-products .products-container ul li.item .product-name { line-height: 19px; text-transform: capitalize; border-bottom:  1px solid #ececec; margin: 0 34px; text-align: left; }
.page .category-products .products-container ul li.item .product-name a { font-size: 15px; font-weight: 700; color: #0e53a5; line-height: 19px; }
.page .category-products .products-container ul li.item .product-name a:hover { color: #59b210; }

.page .category-products .products-container ul li.item .price-box { margin: 0 34px; padding: 4px 0 0; overflow: hidden; min-height: 46px; }
.page .category-products .products-container ul li.item .price-box .special-price { padding-left: 0; }
.page .category-products .products-container ul li.item .price-box .regular-price .price,
.page .category-products .products-container ul li.item .price-box .special-price .price { color: #2a1051; font-size: 17px; font-weight: 700; float: none; line-height: 1.42857; }
.page .category-products .products-container ul li.item .price-box .old-price { position: relative; }
.page .category-products .products-container ul li.item .price-box .old-price .price:before {border-bottom: 2px solid #e0e0e0; width: 100%; position: absolute; left: 0; top: 50%; content: ""; }
.page .category-products .products-container ul li.item .price-box .old-price .price { font-size: 17px; text-decoration: line-through; color: #d3d3d3; line-height: 20px; text-decoration: none; font-weight: 700; float: none; }
.page .category-products .products-container ul li.item .price-box .price-from { float: left; }
.page .category-products .products-container ul li.item .price-box .price-to { float: right; }

.page .category-products .products-container li.item .hover-area { display: block; border: 0 none; position: absolute; bottom: 0; width: 100%; }
.page .category-products .products-container li.item .hover-area .button-border { display: none; }
.page .category-products .products-container ul li.item .hover-area .actions { display: block; position: relative; overflow: hidden; padding-top:0; }
.page .category-products .products-container ul li.item .hover-area .actions .button { width: 80%; display: inline-block; text-align: center; z-index: 99; position: relative; padding: 10px; }

.page .category-products .products-container ul li.item .hover-area .actions .button-container { position: relative; }

.page .category-products .products-container ul li.item .hover-area .actions .add-to-links { overflow: hidden; margin: 20px 0; }
.page .category-products .products-container ul li.item .hover-area .actions .add-to-links li a:before { color:#c6c6c6; font-size: 18px; margin: 0 5px 0 0; }
.page .category-products .products-container ul li.item .hover-area .actions .add-to-links li { display: inline-block; }
.page .category-products .products-container ul li.item .hover-area .actions .add-to-links li a { color: #3d3d3d; display: inline-block; font-size: 12px; line-height: 24px; text-transform: capitalize; }
.page .category-products .products-container ul li.item .hover-area .actions .add-to-links li a:hover { opacity: 1; color: #59b210; }
.page .category-products .products-container ul li.item .hover-area .actions .add-to-links li a.link-wishlist { background: url('../images/wishlist-icon-big.png')left center no-repeat; padding-left: 25px; padding-right: 10px; }
.page .category-products .products-container ul li.item .hover-area .actions .add-to-links li a.link-compare { background: url('../images/compare-icon-big.png')left center no-repeat; padding-left: 25px; }

/** Category Page Styles && Homepage Products Restyle **/
.page .category-title,
.page .category-description { padding-left: 0; }
.page .category-title h1 { font-size: 27px; color: #59b210; letter-spacing: -1px; line-height: 40px; text-transform: capitalize; font-weight: 500; }

.page .category-products .products-container li.item,
.page .category-products .products-container li.item.products-grid-li { width: 33.333%; margin-bottom: 0; border-top: 0 none; }
.page .category-products .products-container li.item:nth-of-type(3n) { border-right: 1px solid #ececec; padding-right: 0; }
.page .category-products .products-container li.item.products-grid-li:nth-of-type(-n+3) { border-top: 1px solid #ececec; }

@media screen and (max-width: 1099px) {
    .page .category-products .products-container ul li.item .price-box .old-price .price,
    .page .category-products .products-container ul li.item .price-box .regular-price .price,
    .page .category-products .products-container ul li.item .price-box .special-price .price { font-size: 14px; line-height: 46px; }
}
@media screen and (max-width: 991px) {
    .page .category-products .products-container ul li.item .price-box { min-height: 46px; }
}
@media screen and (min-width: 500px) and (max-width: 770px) {
    .page .category-products .products-container li.item{ width: 50%; border-right: 1px solid #ececec; }
    .page .category-products .products-container li.item:nth-of-type(-n+2) { border-top: 1px solid #ececec; }
}
@media screen and (max-width: 499px) {
    .page .category-products .products-container li.products-grid-li.item { border-top: 1px solid #ececec; width: 49%; margin-right: 2%; margin-bottom: 2%; border-right: 1px solid #ececec; }
    .page .category-products .products-container li.products-grid-li.item:nth-child(2n) { margin-right: 0; }
    .page .category-products .products-container li.products-grid-li.item:nth-child(2n+1) { clear: left; }
    .page .category-products .products-container li.products-grid-li.item:nth-child(3n+1) { clear: none; }
    .page .category-products .products-container li.products-grid-li.item:hover .item-wrapper { position: relative; }

    .page .category-products .products-container ul li.item .product-name a,
    .page .category-products .products-container ul li.item .btn-cart,
    .page .category-products .products-container ul li.item a.button{ font-size: 13px; }
}

/*
* 4 products per line
* for 1column category page template
*/

@media screen and (min-width: 991px) {
    .page .col1-layout .category-products .products-container .products-grid li.item { width: 25%; }
    .page .col1-layout .category-products .products-container .products-grid li.item:nth-of-type(3n) { border-right: 0 none; padding-right: 1px; }
    .page .col1-layout .category-products .products-container .products-grid li.item:nth-of-type(4) { border-top: 1px solid #ececec; }
    .page .col1-layout .category-products .products-container .products-grid li.item:nth-of-type(4n) { padding-right: 0; border-right: 1px solid #ececec; }
    .page .col1-layout .category-products .products-container ul li.item .product-name a { font-size: 14px; }
    .page .category-products .products-container li.item.products-grid-li:nth-child(3n+1) { clear: left; }
    .page .col1-layout .category-products .products-container .products-grid li.item:nth-of-type(4n+1) { clear: none; }
}

/** Pager **/
.page .category-products .products-container .pages { float: none; margin: 15px 0; }
.page .category-products .products-container .pages ol li { margin-right: 4px; }
.page .category-products .products-container .pages ol li.current,
.page .category-products .products-container .pages ol li a { font-size: 18px; border: 1px solid #dddddd; color: #3d3d3d; text-transform: uppercase; width: 45px; height: 45px; line-height: 45px;  }

.page .category-products .products-container .pages ol li a.previous,
.page .category-products .products-container .pages ol li a.next { width: auto; padding: 0 35px; }
.page .category-products .products-container .pages ol li a.previous:before,
.page .category-products .products-container .pages ol li a.next:before { border: 0 none; }

.page .category-products .products-container .pages ol li.current,
.page .category-products .products-container .pages ol li a:hover { border-color: #59b210; color: #59b210; }

.page .category-products .products-container .toolbar.toolbar-bottom { background-color: transparent; margin: 17px 0 0; padding: 0; }
.page .category-products .products-container .toolbar.toolbar-bottom .pager { float: none; overflow: hidden; }
.page .category-products .products-container .toolbar.toolbar-bottom .pager .pages { float: left; margin: 0;  }
.page .category-products .products-container .toolbar.toolbar-bottom .pager > .count-container { float: right; }
.page .category-products .products-container .toolbar.toolbar-bottom .pager > .count-container .amount { float: none; margin: 0; line-height: 45px; font-size: 13px; color: #5d5d5d; padding-right: 15px; }

@media only screen and (max-width: 979px) {
    .products-container .sorter,
    .products-container .pager { width: auto; float: left; clear: none; }
    .products-container .pager { float: right; }
}
@media screen and (max-width: 770px) {
    .page .category-products .products-container .toolbar .sorter .sort-by label { display: none; }
    .page .category-products .products-container .toolbar .sorter .sort-by select { font-size: 11px; }
    .page .category-products .products-container .toolbar .sorter .sort-by .sort-by-switcher { width: 16px; }

    .page .category-products .products-container .toolbar .pager { clear: none; float: none; }
    .page .category-products .products-container .toolbar .pager .limiter,
    .page .category-products .products-container .toolbar .pager .pages,
    .page .category-products .products-container .toolbar .pager .amount strong { font-size: 11px; margin-right: 5px; }
}
@media only screen and (max-width: 479px) {
    .sorter > .view-mode .grid { margin-right: 0; }
    .pager .amount { margin-right: 0; }
    .pager select { font-size: 11px; }
    .sorter > .view-mode .grid,
    .sorter > .view-mode .list { width: 26px; height: 26px; }
}

/** Layered Navigation Styles **/
.page .block-layered-nav {}
.page .block-layered-nav .block-title strong span { font-size: 28px; font-weight: 500; letter-spacing: -1px; color:#3d3d3d; line-height: 52px; text-transform: capitalize; font-weight: 500;  }
.page .block-layered-nav  #narrow-by-list { border: 1px solid #ececec; border-radius: 10px; padding: 10px; }
.page .block-layered-nav  #narrow-by-list dt,
.page .block-layered-nav  #narrow-by-list dd { border: 0 none; background-color: transparent; }
.page .block-layered-nav  #narrow-by-list dt { color: #59b210; font-size: 18px; text-transform: capitalize; letter-spacing: -1px; line-height: 37px; border-bottom: 1px solid #ececec; padding: 0; }
.page .block-layered-nav  #narrow-by-list dd a.amshopby-attr,
.page .block-layered-nav  #narrow-by-list dd a.amshopby-attr-selected { width: 100%; font-size: 12px; font-weight: 400; color: #5d5d5d; line-height: 14px; padding-left: 20px; padding-bottom: 0;  }
.page .block-layered-nav  #narrow-by-list dd a.amshopby-attr .count,
.page .block-layered-nav  #narrow-by-list dd a.amshopby-attr-selected .count { float: right; font-size: 12px; color: #5d5d5d; line-height: 18px; }
.page .block-layered-nav  #narrow-by-list dd a.amshopby-attr-selected { background-image: url('../images/checked.png'); }

/** Remove Currently Shopping By **/
@media screen and (min-width: 770px) {
    .page .block-layered-nav .block-content p.block-subtitle,
    .page .block-layered-nav .block-content .currently,
    .page .block-layered-nav .block-content .actions { display: none; }
}

/** AMASTY Layered Navigation Styles **/
.page div.block-layered-nav.amshopby-collapse-enabled .block-content #narrow-by-list dt { background-image: none; }
.amshopby-slider-bar,
.amshopby-slider-ui .ui-slider-range { background-color: #59b210; top: 0; }
.amshopby-slider-price,
.amshopby-slider-price-from,
.amshopby-slider-price-to { font-size: 13px; color: #333; padding-right: 5px; }
div.block-layered-nav div.amshopby-slider,
div.amshopby-slider-ui { background-image: none; height: 6px; background-color: #939393; margin: 16px 4px 20px; }
div.block-layered-nav div.amshopby-slider div.handle,
.ui-slider .ui-slider-handle { background-image: none; width: 20px; height: 20px; border: 5px solid #59b210; border-radius: 400px; top: -6px; background-color: #fff; margin-left: -10px; }

div.ui-slider-horizontal .ui-slider-range { height: 6px; }
div.block-layered-nav li.amshopby-cat:before { content: ""; font-family: fontawesome; font-size: 14px; line-height: 15px; margin: 0 5px 0 0; transition: all 0.3s ease 0s; }
div.block-layered-nav li.amshopby-cat.expanded:before { content:"\f107"; }

div.block-layered-nav li.amshopby-cat a { display: inline; float: none; padding: 0; }
div.block-layered-nav li.amshopby-cat a:hover { padding-left: 5px;  }
div.block-layered-nav li.amshopby-cat a span.count { display: none; }

@media screen and (max-width: 770px) {
    .page .block-layered-nav .block-subtitle.block-subtitle--filter { background-color: #59b210; }
    .page .block-layered-nav .block-subtitle.block-subtitle--filter.active { margin-bottom: 5px; }
    .page .block-layered-nav #narrow-by-list dt, .page .block-layered-nav #narrow-by-list dd { padding-left: 20px; }
    .page .block-layered-nav .block-content > dl > dt:after { border-left-color: #59b210; border-top-color: transparent; }
    .page .block-layered-nav .block-content.accordion-open > dl > dt.current:after { border-top-color: #59b210; border-left-color: transparent;  }
    .page .block-layered-nav dl ol > li > a,
    .page .block-layered-nav dl ol > li > a:hover { background-color: transparent; }
    .page .block-layered-nav dl ol > li > a.amshopby-attr:hover { background: url('../images/amshopby-cb1.gif') no-repeat left center; }
}

/** Products List Styles **/
.page .category-products .products-container .products-list li.item { width: 100%; border: 0 none; border-bottom: 1px solid #ececec; }
.page .category-products .products-container .products-list li.item .product-image { border: 0 none; }
.page .category-products .products-container .products-list li.item .product-image:hover { border:0 none; opacity: 1; }


/** ProductHover extension styles **/
.page .category-products .products-grid li .available-options-container { background-color: rgba(89,178,16, 0.2); border-bottom: 1px solid #59b210; border-top:1px solid #59b210; }
.page .category-products .products-grid li .available-options-container .options-content { font-weight: bold; }
.page .category-products.is_show_slider .products-container ul li.item .product-image > img { padding-top: 0; }


/** Configuble Swatches - Product Detail Page **/
.page .main .product-view #configurable_swatch_color .swatch-link { background: none; border: 0 none; }
.page .main .product-view #configurable_swatch_color .swatch-link .swatch-label { border: 1px solid #d4d4d4; }
.page .main .product-view .swatch-attr .swatch-link { border: 0 none; border-radius: 7px; }
.page .main .product-view .swatch-attr .selected .swatch-link,
.page .main .product-view #configurable_swatch_color .selected .swatch-link{ border: 1px solid #11b400; border-radius: 7px; }
.page .main .product-view .swatch-attr .swatch-link:focus { outline: none; }
.page .main .product-view .swatch-attr .swatch-label { background-color: transparent; border: 0 none; font-size: 12px; line-height: 36px; }
.page .main .product-view .product-options dt.swatch-attr .select-label { color: #11b400; }

/** Configuble Swatches Product Grid */
.page .category-products li.item .item-wrapper .configurable-swatch-list { margin-top: 8px; line-height: 1; }
.page .category-products li.item .item-wrapper .configurable-swatch-list li { display: inline-block; float: none; }
.page .category-products li.item .item-wrapper .configurable-swatch-list li:hover .swatch-link { border: 1px solid #5bb300; }
.page .category-products li.item .item-wrapper .configurable-swatch-list li a { margin-bottom: 0; }


/** Predefined CMS images classes **/
.page .main .all-full-width { margin-top: 10px; }
.page .main .all-full-width > img { padding: 5px 0; }

.page .main .two-in-row { overflow: hidden; margin: 10px 0; }
.page .main .two-in-row > img { float: left; width: 48.6%; margin: 0; max-width: 100%; }
.page .main .two-in-row > img:nth-of-type(1) { margin-right: 1.4%; }

.page .main .three-in-row { overflow: hidden; margin: 10px 0; }
.page .main .three-in-row > img { float: left; width: 32.3%; margin: 0 0 0 1.4%; max-width: 100%; }
.page .main .three-in-row > img:nth-of-type(1) { margin-left: 0%; }

.page .main .four-in-row { overflow: hidden; margin: 10px 0; }
.page .main .four-in-row > img { float: left; width: 24.25%; margin: 0 0 0 1%; max-width: 100%; }
.page .main .four-in-row > img:nth-of-type(1) { margin-left: 0%; }

.page .main .five-in-row { overflow: hidden; margin: 10px 0; }
.page .main .five-in-row > img:nth-of-type(1) { margin-left: 0%; }
.page .main .five-in-row img { float: left; width: 19.2%; margin: 0 0 0 1%; max-width: 100%; }

.page .main .one-third-first { overflow: hidden; }
.page .main .one-third-first > img { float: left; }
.page .main .one-third-first > img:nth-of-type(1) { width: 32.5%; margin-right: 1%; }
.page .main .one-third-first > img:nth-of-type(2) { width: 66.5%; }

.page .main .two-third-first { overflow: hidden; }
.page .main .two-third-first > img { float: left; }
.page .main .two-third-first > img:nth-of-type(1) { width: 66.5%; margin-right: 1%; }
.page .main .two-third-first > img:nth-of-type(2) { width: 32.5%; }


/** Icon Sprite **/
.icon-sprite, .btn-remove2, .ratings .rating-box, .ratings .rating-box .rating, .sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid,
.sorter > .view-mode .list, .skip-nav .icon, .skip-search .icon, #search_mini_form .search-button:before, .skip-account .icon, .skip-cart .icon, .product-view .sharing-links a, .review-summary-table .rating-box .rating-number:after, .ratings-table .rating-box, .ratings-table .rating-box .rating {
    background-image: url('../images/icon_sprite.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .icon-sprite, .btn-remove2, .ratings .rating-box, .ratings .rating-box .rating, .sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid,
    .sorter > .view-mode .list, .skip-nav .icon, .skip-search .icon, #search_mini_form .search-button:before, .skip-account .icon, .skip-cart .icon, .product-view .sharing-links a, .review-summary-table .rating-box .rating-number:after, .ratings-table .rating-box, .ratings-table .rating-box .rating {
        background-image: url('../images/icon_sprite@2x.png');
        background-size: 100px 1000px;
    }
}


/** Pacsoft extension styles **/
.main .form-list .control label, .sp-methods dt label,
.main #checkout-shipping-method-load .sp-methods dd label,
.main #co-shipping-method-form .sp-methods dd label,
.main .sp-methods dt label,
.main .form-list .control label,
.main .form-list .control label:hover,
.main .sp-methods dt label:hover,
.main #checkout-shipping-method-load .sp-methods dd label:hover,
.main #co-shipping-method-form .sp-methods dd label:hover,
.main .product-options ul.options-list label:hover { background-color: transparent; }

.main #checkout-shipping-method-load .sp-methods dd .form-list label { padding-left: 0; }
.main #checkout-shipping-method-load .sp-methods dd .input-box { float: none; display: block; }

/** Contact Us page **/
.page .main #contactForm { padding-left: 1%; width: 55%; float: left; margin-bottom: 20px; }
.page .main #contactForm input.input-text { width: 100%; }
.page .main #contactForm textarea { width: 100%; max-width: 100%; height: 175px; }
.page .main #contactForm .buttons-set { margin-left: 0; max-width: 100%; }
.page .main .address-block { width: 25%; float: left; }
.page .main .address-block ul { margin: 10px 0; }
.page .main .address-block > img { max-width: 200px; width: 100%; }


@media screen and (max-width: 770px) {
    .page .main .address-block { width: 100%; text-align: center; }
    .page .main .address-block > img { display: inline; }
    .page .main #contactForm { width: 100%; margin-top: 10px; }
}

/** Login & Register Page **/
.page .block-account .block-content ul li.current a strong { font-weight: 900; }

.customer-account-login .page-title h1 { width: 100%; text-align: center; }
.customer-account-login .account-create,
.customer-account-login .account-login { float: right; width: 48%; }
.customer-account-login .account-create .buttons-set,
.customer-account-login .account-login .buttons-set { border-top: 0 none; padding-top: 0; margin-bottom: 20px; }
.customer-account-login .account-create .buttons-set .button,
.customer-account-login .account-login .buttons-set .button { float: left; }
.customer-account-login .fieldset p.required { float: none; }
.customer-account-login .account-create { margin-right: 2%; float: left; }

@media only screen and (max-width: 550px) {
    .customer-account-login .account-create,
    .customer-account-login .account-login { width: 100%; }
    .page-title h1 { font-size: 13px; }
    .customer-account-login h2 { font-size: 20px; }
    .customer-account-login .account-create { margin-bottom:  20px; }
}

/** CMS menu styles **/
.sidebar .links .block-title { border-top: 0; padding-top: 0; }

/** Brand Logo Slider **/
.page .brand-slider { margin-bottom: 0;}
.page .brand-slider .slick-slide { padding: 0 10px; }
.page .brand-slider .slick-slide img { max-width: 100%; }

/** Brands Page **/
.brands-page ul { overflow: hidden; }
.brands-page ul li { width: 24.25%; border: 1px solid #000; padding: 10px; float: left; margin-right: 1%; margin-bottom: 10px; text-align: center; background-color: #fff; }
.brands-page ul li:nth-of-type(4n) { margin-right: 0; }
.brands-page ul li:nth-of-type(4n+1) { clear: left; }
.brands-page ul li img { max-width: 100%; max-height: 100%; margin: 0 auto; }

@media only screen and (max-width: 770px) {
    .brands-page ul li { width: 49%; margin-right: 2%; }
    .brands-page ul li:nth-of-type(2n) { margin-right: 0; }
    .brands-page ul li:nth-of-type(2n+1) { clear: left; }
}

/** Enhanced main menu **/
.enhanced-menu .nav-primary a,
.enhanced-menu .nav-primary a:hover,
.enhanced-menu .nav-primary li:hover > a,
.enhanced-menu .nav-primary li.menu-active > a,
.enhanced-menu .nav-primary li.sub-menu-active > a{ color: #000; opacity: 1; }

.enhanced-menu .nav-primary li.level0 > a.level0,
.enhanced-menu .nav-primary li.level0 > a.level0:hover,
.enhanced-menu .nav-primary li.level0 > a.level0:active { color: #fff; }
@media only screen and (min-width: 771px) {
    #header  #header-nav .enhanced-menu .nav-primary li.level0 ul { padding: 10px; }
    #header  #header-nav .enhanced-menu .nav-primary li.level0 ul li a { text-transform: uppercase; border: 0 none; white-space: normal; }
    #header  #header-nav .enhanced-menu .nav-primary li.level0 ul li a:hover { text-decoration: underline; }

    /* Two Column submenu */
    .enhanced-menu .nav-primary .submenu-container { display: none; }
    .enhanced-menu .nav-primary li.level0 > .submenu-container { border-radius: 5px; }
    .enhanced-menu .nav-primary > li.menu-active > .submenu-container:before { width: 7px; height: 7px; content: ""; display: block; position: absolute; top: -15px; left: 30px; border: 7px solid rgba(0,0,0,0); border-bottom: 7px solid #cecece; }
    .enhanced-menu .nav-primary > li.menu-active > .submenu-container { display: block; background-color: #fff; border: 1px solid #cecece; left: 0; top: 70px; position: absolute; padding: 10px; width: 400px; }

    .enhanced-menu .nav-primary > li.last.parent.menu-active > .submenu-container { left: auto; right: 0; }
    .enhanced-menu .nav-primary > li.last.parent.menu-active > .submenu-container:before { left: auto; right: 30px; }
    .enhanced-menu .nav-primary li.menu-active ul li.menu-active > .submenu-container { z-index: 10; position: relative; display: block; }
    .enhanced-menu .nav-primary li.menu-active > .submenu-container > ul { display: block; position: static !important; border: 0 none; background: transparent; width: auto; min-width: 210px; }
    .enhanced-menu .nav-primary > li.menu-active > .submenu-container > ul { min-width: 230px; }
    .enhanced-menu .nav-primary > li.menu-active > .submenu-container > ul li ul { min-width: 190px; }
    .enhanced-menu .nav-primary li.menu-active .submenu-container { width:auto; white-space: nowrap; }
    .enhanced-menu .nav-primary li.menu-active .submenu-container > ul,
    .enhanced-menu .nav-primary li.menu-active .submenu-container > img { display: inline-block; vertical-align: top; }

    #header #header-nav .enhanced-menu .nav-primary li.level1 .submenu-container { position: static !important; }
    #header #header-nav .enhanced-menu .nav-primary li.level1 .submenu-container ul { padding: 0; }
    .enhanced-menu .nav-primary > li.menu-active > .submenu-container ul li a { border-bottom: 0 none; }
}

@media only screen and (max-width: 770px) {
    .enhanced-menu .nav-primary li.menu-active > .submenu-container { display: block; }
    .enhanced-menu .nav-primary li.menu-active > .submenu-container > ul { display: block; }
    .enhanced-menu .nav-primary .submenu-container > img { display: none; }
}

/** Checkout **/
.onestepcheckout-index-index .main-container .main { padding-bottom: 30px; }
.onestepcheckout-index-index .one-step-checkout h3,
.onestepcheckout-index-index .onestepcheckout-popup-wrapper h1 { color: #fff !important; }

/** Alt Layered Nav design **/
.alt-layered-nav .amshopby-advanced li.level1 { padding-left: 15px; }
.alt-layered-nav div.block-layered-nav li.amshopby-cat { position: relative; }
.alt-layered-nav div.block-layered-nav li.amshopby-cat a { font-size: 12px; line-height: 25px; border-bottom: 1px solid rgba(0, 0, 0, 0.06); display: block; }
.alt-layered-nav div.block-layered-nav li.amshopby-cat:before { display: none; }
.alt-layered-nav div.block-layered-nav li.amshopby-cat.has-child:before { display: block; content: "+"; height: 25px; width: 15px; font-size: 15px; position: absolute; right: 0; color: #5BB300; line-height: 25px; }
.alt-layered-nav div.block-layered-nav li.amshopby-cat.expanded > a,
.alt-layered-nav div.block-layered-nav li.amshopby-cat.active > a { color: #5BB300 !important; }
.alt-layered-nav div.block-layered-nav li.amshopby-cat.expanded:before { display: none; }
.alt-layered-nav div.block-layered-nav li.amshopby-cat a:hover { color: #5BB300 !important; padding-left: 0; background-color: rgba(0, 0, 0, 0.03); }


/**  New Custom Design for Responsive **/
@media screen and (max-width: 770px) {
    body .page #header-nav #nav .nav-primary li.level0.first > a { border-left: 0; }
    body .page #header,
    body .page #header-nav { padding: 0; }
    body .page .main-container { margin-top: 15px !important; }
    body .page #header-nav #nav .nav-primary li.level0 > a { line-height: 60px; height: 60px; background-color: #393939; }
    body .page #header-nav #nav .nav-primary li.level0.parent > a { background: #393939 url('../images/plus.png') no-repeat 97% center; background-size: 25px; }
    body .page #header-nav #nav .nav-primary li.level0.parent > a:after { display: none; }
    body .page #header-nav #nav .nav-primary li.level0.menu-active > a { background: #e7610e url('../images/minus.png') no-repeat 97% center; background-size: 25px; }

    /** level1 **/
    body .page #header-nav #nav .nav-primary li.level0 ul li a { line-height: 60px; height: 60px; }
    body .page #header-nav #nav .nav-primary li.level0 ul li.parent > a:after { display: none; }
    body .page #header-nav #nav .nav-primary li.level0 ul li.parent > a { background: #fff url('../images/arrow-right.png') no-repeat 97% center; }
    body .page #header-nav #nav .nav-primary li.level0 ul li.menu-active > a { background-image: url('../images/arrow-down-menu.png'); }

    .page .category-products .products-container ul li.item .price-box .old-price .price,
    .page .category-products .products-container ul li.item .price-box .regular-price .price,
    .page .category-products .products-container ul li.item .price-box .special-price .price { font-size: 13px; }
}

/** Layered Navigation Fixes for version 2.9.4 **/
@media screen and (max-width: 770px) {
    .page .block-layered-nav #narrow-by-list dd a.amshopby-attr-selected { background-repeat: no-repeat; background-position: left center; }
}