/** Alternative header Cart icon **/
@media only screen and (min-width: 771px) {
    .page .page-header .largescreen-header { width: 48%; }
    .page .page-header .skip-links .header-minicart { top: 12px; }
    .page .page-header .skip-links .header-minicart { min-width: 205px; height: 53px; background: url('../images/button-gradient.png') repeat-x; border-radius: 5px; }
    .page .page-header .skip-links .header-minicart .view-cart { text-decoration: underline; line-height: 53px; padding:0; color: #fff; text-transform: none; float: left; width: 146px; text-align: center; }
    .page .page-header .skip-links .header-minicart .skip-cart .icon { border-radius: 5px 0 0 5px; height: 53px; width: 59px; background-color: #4a8d04; display: block; background-image: none; padding-top: 6px; float: left; }
    .page .page-header .skip-links .header-minicart .icon .cart-icon { background: url('../images/alternative-cart-icon.png') no-repeat center center; height: 41px; width: 41px; display: block; background-color: #58a508; border-radius: 50%; margin: 0 auto; }
    .page .page-header .skip-links .header-minicart #header-cart.skip-active { top: 53px; }
}
@media screen and (max-width: 1194px) {
    .page .page-header .largescreen-header .largescreen-middle { width: 75%; }
}

@media screen and (min-width: 771px) and (max-width: 991px) {
    .page .page-header .largescreen-header { width: 100%; }
    .page .page-header .skip-links .header-minicart { top: auto; bottom: 15px; right: 5px; }
}
@media screen and (max-width: 770px) {
    .page .page-header .largescreen-header,
    .page .page-header .largescreen-header .largescreen-middle { width: 100%; }
    .page .page-header .skip-links .header-minicar.view-cart { display: none; }
}

/** New minicart styles **/
#header-cart.skip-active .cart-title { border-bottom: 1px solid #999; font-size: 20px; line-height: 22px; margin: 0 0 15px; padding: 0 0 5px; text-transform: uppercase; font-weight: bold; color: #5bb300; }
#header-cart.skip-active #cart-sidebar,
#header-cart.skip-active #cart-sidebar li { padding: 0; }
#header-cart.skip-active .product-image { border: 0 none; }
.header-minicart #header-cart.skip-active .subtotal { background: transparent; border-top: 1px solid #5bb300; border-bottom: 1px solid #5bb300;}

@media only screen and (min-width: 771px) {
    #header-cart.skip-active { width: 350px; padding: 10px 25px; border: 1px solid #5bb300; border-top: 0 none; border-radius: 5px; }
    #header-cart.skip-active .product-image { border: 0 none; }
    #header-cart.skip-active .mini-products-list .product-details { margin-left: 15px; float: left; max-width: 200px; text-align: left; }
    #header-cart.skip-active .mini-products-list .product-details .product-name { font-weight: normal; }
    #header-cart.skip-active .mini-products-list .item-options > span { display: block; }
    #header-cart.skip-active .mini-products-list .info-wrapper .price {  }
    .header-minicart #header-cart.skip-active:before {  border: 10px solid transparent; border-bottom-color: #fff; content: ""; position: absolute; right: 30px; top: -20px; width: 10px; height: 10px; }
    .header-minicart #header-cart.skip-active .subtotal { overflow: hidden; padding: 3px 0; }
    .header-minicart #header-cart.skip-active .subtotal .price { font-weight: normal; float: right; }
    .header-minicart #header-cart.skip-active .subtotal .label { float: left; text-transform: uppercase; }

    .page .page-header .header-minicart a.skip-cart { padding: 0 3px; }
    #header-cart.skip-active .minicart-actions { padding: 20px 0 0 0; width: 100%; }
    .page .header-minicart .block-subtitle { padding: 0; }

}
@media only screen and (max-width: 770px) {
    #header-cart.skip-active { padding: 10px 20px; }
    #header-cart.skip-active .mini-products-list .product-details { margin: 0; float: right; }
    #header .minicart-actions { padding: 0; }
    #header .minicart-actions .checkout-button { width: 100%; }
    .header-minicart #header-cart.skip-active .checkout-types { float: none; display: block; }
    .header-minicart #header-cart.skip-active .checkout-types li { display: block; }
    .page #header-cart.skip-active { padding: 0; }
    .page .page-header .skip-links .header-minicart .view-cart { display: none; }
}

/** Alternative header Cart icon **/
@media only screen and (min-width: 771px) {
    .page .page-header .largescreen-header { width: 48%; }
    .page .page-header .skip-links .header-minicart { top: 12px; }
    .page .page-header .skip-links .header-minicart { min-width: 205px; height: 53px; background: url('../images/button-gradient.png') repeat-x; border-radius: 5px; }
    .page .page-header .skip-links .header-minicart .view-cart { text-decoration: underline; line-height: 53px; padding:0; color: #fff; text-transform: none; float: left; width: 146px; text-align: center; }
    .page .page-header .skip-links .header-minicart .skip-cart .icon { border-radius: 5px 0 0 5px; height: 53px; width: 59px; background-color: #4a8d04; display: block; background-image: none; padding-top: 6px; float: left; }
    .page .page-header .skip-links .header-minicart .icon .cart-icon { background: url('../images/alternative-cart-icon.png') no-repeat center center; height: 41px; width: 41px; display: block; background-color: #58a508; border-radius: 50%; margin: 0 auto; }
    .page .page-header .skip-links .header-minicart #header-cart.skip-active { top: 57px; }
}
@media screen and (max-width: 1194px) {
    .page .page-header .largescreen-header .largescreen-middle { width: 75%; }
}

@media screen and (min-width: 771px) and (max-width: 991px) {
    .page .page-header .largescreen-header { width: 100%; }
    .page .page-header .skip-links .header-minicart { top: auto; bottom: 15px; right: 5px; }
}
@media screen and (max-width: 770px) {
    .page .page-header .largescreen-header,
    .page .page-header .largescreen-header .largescreen-middle { width: 100%; }
    .page .page-header .skip-links .header-minicar.view-cart { display: none; }
}

/** New minicart styles **/
#header-cart.skip-active .cart-title { border-bottom: 1px solid #999; font-size: 20px; line-height: 22px; margin: 0 0 15px; padding: 0 0 5px; text-transform: uppercase; font-weight: bold; color: #5bb300; }
#header-cart.skip-active #cart-sidebar,
#header-cart.skip-active #cart-sidebar li { padding: 0; }
#header-cart.skip-active .product-image { border: 0 none; }
.header-minicart #header-cart.skip-active .subtotal { background: transparent; border-top: 1px solid #5bb300; border-bottom: 1px solid #5bb300;}

@media only screen and (min-width: 771px) {
    #header-cart.skip-active { width: 350px; padding: 10px 25px; border: 1px solid #5bb300; border-radius: 5px; }
    #header-cart.skip-active .product-image { border: 0 none; }
    #header-cart.skip-active .mini-products-list .product-details { margin-left: 15px; float: left; max-width: 200px; text-align: left; }
    #header-cart.skip-active .mini-products-list .product-details .product-name { font-weight: normal; }
    #header-cart.skip-active .mini-products-list .item-options > span { display: block; }
    #header-cart.skip-active .mini-products-list .info-wrapper .price {  }
    .header-minicart #header-cart.skip-active:before { border: 10px solid transparent; border-bottom-color: #5bb300; content: ""; position: absolute; right: 30px; top: -20px; width: 10px; height: 10px; }
    .header-minicart #header-cart.skip-active:after { content: ""; display: block; height: 10px; width: 100%; position: absolute; top: -10px; left: 0; }
    .header-minicart #header-cart.skip-active .subtotal { overflow: hidden; padding: 3px 0; }
    .header-minicart #header-cart.skip-active .subtotal .price { font-weight: normal; float: right; }
    .header-minicart #header-cart.skip-active .subtotal .label { float: left; text-transform: uppercase; }

    .page .page-header .header-minicart a.skip-cart { padding: 0 3px; }
    #header-cart.skip-active .minicart-actions { padding: 20px 0 0 0; width: 100%; }
    .page .header-minicart .block-subtitle { padding: 0; }

}
@media only screen and (max-width: 770px) {
    #header-cart.skip-active { padding: 10px 20px; }
    #header-cart.skip-active .mini-products-list .product-details { margin: 0; float: right; }
    #header .minicart-actions { padding: 0; }
    #header .minicart-actions .checkout-button { width: 100%; }
    .header-minicart #header-cart.skip-active .checkout-types { float: none; display: block; }
    .header-minicart #header-cart.skip-active .checkout-types li { display: block; }
    .page #header-cart.skip-active { padding: 0; }
    .page .page-header .skip-links .header-minicart .view-cart { display: none; }
}

