/**
 * CLKWEB Green Theme
 * BLUE option
 * Main color: #3498db
 * Secondary color: #419fdd
**/

.page.boxedbg { background-color: #d5e8f6; }

/** Primary font color **/
.page .main .breadcrumbs a:hover,
.page .button2 span,
.page .button2 span span,
.page .opc .section.allow .step-title:hover h2,
.page .opc .section.active .step-title h2,
.page .block-account li strong, .block-cms-menu li strong,
.page #wishlist-table .product-name a,
.cms-page-view .page .std h1,
.cms-no-route .page .std h1,
.wrapper .page a,
.wrapper .page h1,
.wrapper .page .h1,
.wrapper .page h2,
.wrapper .page .h2,
.wrapper .page h3,
.wrapper .page .h3,
.wrapper .page h4,
.wrapper .page .h4,
.wrapper .page h5,
.wrapper .page .h5,
.wrapper .page h6,
.wrapper .page .h6,
.wrapper .page .block-title h2,
.wrapper .page .block-title h3,
.wrapper .page .block-title strong,
.page-popup .page-title h1,
.page-popup .page-title h2,
.page-popup .product-name h1,
.page-popup .product-name .h1,
.page-popup a,
.page .price-box .price,
.page-popup .price-box .price,
.wrapper .product-view .product-shop .product-name .h1,
.wrapper .product-view .product-img-box .product-name h1,
.cms-page-view .wrapper .page .std h2,
.cms-no-route .wrapper .page .std h2,
.wrapper .page #customer-reviews h2,
.wrapper .page #customer-reviews h3 span,
.wrapper .page #customer-reviews dl dd .review-meta,
.wrapper .page .grouped-items-table .name-wrapper,
.wrapper .page .product-view .product-shop .price-box .regular-price .price,
.wrapper .page .product-view .product-shop .price-box .special-price .price,
.wrapper .page .product-view .product-shop .price-box .full-product-price .price,
.wrapper .page .product-view  .availability.in-stock,
.page .btn-remove:after,
.page .page-header .header-contacts-wrapper div a span,
.page .page-header .largescreen-header .largescreen-search button.button,
.page .page-header .header-minicart .subtotal .label,
.page .page-header .header-minicart .block-subtitle,
.page .page-header .header-minicart .product-details .product-name a,
.page .price-box .price,
.page .header-minicart .subtotal .price,
.page .price,
.page .page-header .header-minicart .btn-edit,
.page .page-header .header-minicart a.remove,
.page .page-header .header-minicart .skip-link-close,
.footer-container .footer .footer-logo > a,
.page .main .product-view .product-shop .add-to-links li:hover a,
.page .main .product-view .product-shop .add-to-links li:hover a,
.page .main .product-view .product-collateral .collateral-tabs .tab-container .tab-content h2,
.page .main .product-view .product-collateral .collateral-tabs .tab-container .tab-content #customer-reviews h2,
.page .main .product-view .product-collateral .collateral-tabs .tab-container .tab-content #customer-reviews .review-meta,
.page .category-products .products-container ul li.item .product-name a:hover,
.page .category-products .products-container ul li.item .hover-area .actions .add-to-links li a:hover,
.page .category-title h1,
.page .category-products .products-container .toolbar.toolbar-bottom .pager > .count-container .amount,
.page .block-layered-nav  #narrow-by-list dt,
.page .block-layered-nav  #narrow-by-list dd a.amshopby-attr-selected,
.page .block-layered-nav  #narrow-by-list dd a.amshopby-attr-selected .count,
.page .main .product-view .product-options dt.swatch-attr .select-label,
.page .header-language-background .login-links a:hover { color: #3498db; }

/** Primary background color **/
.page .btn-remove:hover,
.page button.button,
.page a.button,
body .button,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button,
body .footer .button,
.page .opc .section.allow .step-title .number:hover,
.page .opc .section .step-title .number,
.page .opc .section.allow.active .step-title .number,
.page .no-touch .opc .section.allow:hover .step-title .number,
.footer-container .footer-newsletter .block-subscribe .actions .button,
.page .main-container .homepage-category-titles .title-container.active h2,
.page .main .product-view .product-collateral .toggle-tabs li.current > span,
.amshopby-slider-bar,
div.amshopby-slider-ui .ui-slider-range { background-color: #3498db; }

/** Primary background color + font rewrites **/
.page .opc .section.allow .step-title .number,
.page .button,
.page .cart-table .product-cart-actions .button,
.page #co-shipping-method-form .buttons-set .button,
.page .footer .button,
.page .cart .buttons-set .button,
.page .cart-table .button,
.page .sidebar .actions .button,
.page .button.button-secondary,
.page .page-header .largescreen-header .largescreen-search button.button { background-color: #3498db; color: #fff;}

/** Secondary background-color **/
.page .button:hover,
.page .cart-table .product-cart-actions .button:hover,
.page #co-shipping-method-form .buttons-set .button:hover,
.page .footer .button:hover,
.page .cart .buttons-set .button:hover,
.page .cart-table .button:hover,
.page .sidebar .actions .button:hover,
.page .button.button-secondary:hover,
.page a.button:hover,
.page button.button:hover,
body .button:hover,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button,
body .footer .button,
.footer-container .footer-newsletter .block-subscribe .actions .button:hover { background-color: #419fdd; }


/** Borders **/
.page .sidebar .block:not(.block-layered-nav) .block-title > strong:after { border-left-color: #3498db; }
.page .sidebar .block:not(.block-layered-nav) .block-title.active > strong:after { border-top-color: #3498db; }
.page .header-language-background .links ul li.has-dropdown > ul { border-top-color:#3498db; }
.page .main .product-view .product-image:hover { border-color: #3498db; }
.page .category-products .products-container .pages ol li.current,
.page .category-products .products-container .pages ol li a:hover { border-color: #3498db; color: #3498db; }
div.block-layered-nav div.amshopby-slider div.handle,
.ui-slider .ui-slider-handle { border-color: #3498db; }
.page .category-products .products-grid li .available-options-container { border-bottom-color: #3498db; border-top-color: #3498db; }
.page .main .product-view .swatch-attr .selected .swatch-link,
.page .main .product-view #configurable_swatch_color .selected .swatch-link { border-color: #3498db; }
.page .category-products li.item .item-wrapper .configurable-swatch-list li:hover .swatch-link { border-color: #3498db; }
.page #header-nav #nav .nav-primary li.level0.first > a { border-left-color: #419fdd; }

/** Responsive specific **/
@media screen and (min-width: 771px) {
    .page .page-header .skip-links .header-minicart .skip-cart .label.largescreen { color: #676767; }
    .page .page-header .skip-links .header-minicart .skip-cart .count { background-color: #3498db; }
    .page .page-header .skip-links .header-minicart .subtotal { color: #3498db; }
}

@media screen and (max-width: 770px) {
    .page .page-header .skip-links .header-minicart .count { background-color: #fff; color: #3498db; }
}

@media screen and (min-width: 770px) {
    .page #header-nav { background-color: #3498db; }
    .page #header-nav #nav .nav-primary li.level0:hover > a { background-color: #419fdd; }
    .page #header-nav #nav .nav-primary li.level0 > a { border-right-color: #419fdd; }

    .page #header-nav #nav.normal-menu   .nav-primary li.level0 ul { border-color: #54a700; }
    .page #header-nav #nav.normal-menu   .nav-primary li.level0 ul { border-top-color: #3498db; }

    .page #header-nav #nav.normal-menu   .nav-primary li.level0 > a.has-children:before { border-bottom-color: #3498db; }
}

@media screen and (max-width: 770px) {
    .page .page-header-container .skip-links a { background-color: #3498db; }
    .page #header-nav .normal-menu   .nav-primary li a { background-color: #3498db; }

    .page #header-nav.skip-active .menu-active > a:hover,
    .page #header-nav.skip-active .menu-active > a,{ background-color: #f5f5f5; }

    .page #header-account li a,
    .page .nav-primary a.level0 { background-color: #3498db;  }
    .page #header-account li a:hover,
    .page .nav-primary a.level0:hover { background-color: #419fdd; }

    .page #header-nav.skip-active .normal-menu li > a:hover,
    .page #header-nav.skip-active .normal-menu li.menu-active > a { background-color: #419fdd; }

    .page #header-search,
    .page #header-search button.search-button { background: #3498db; }

}
@media screen and (max-width: 770px) {
    .page .main .product-view .product-collateral dt { background-color: #f9f9f9; color: #3d3d3d; }
    .page .main .product-view .product-collateral dt.current { background-color: #3498db; }
}

@media screen and (max-width: 770px) {
    .page .block-layered-nav .block-subtitle.block-subtitle--filter { background-color: #3498db; }
    .page .block-layered-nav .block-content > dl > dt:after { border-left-color: #3498db; }
    .page .block-layered-nav .block-content.accordion-open > dl > dt.current:after { border-top-color: #3498db; }
}


.page button.button,
.page a.button,
body .button,
body .cart-table .product-cart-actions .button,
body #co-shipping-method-form .buttons-set .button, body .footer .button { color: #fff; }


/** Images **/
.footer-container .footer .footer-logo span.footer-logo { background-image: url('../images/logo.png') no-repeat; }
.page .block-layered-nav #narrow-by-list dd a.amshopby-attr-selected { background-image: url("../images/checked.png"); }

/** Icon Sprite **/
.icon-sprite, .btn-remove2, .ratings .rating-box, .ratings .rating-box .rating, .sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid,
.sorter > .view-mode .list, .skip-nav .icon, .skip-search .icon, #search_mini_form .search-button:before, .skip-account .icon, .skip-cart .icon, .product-view .sharing-links a, .review-summary-table .rating-box .rating-number:after, .ratings-table .rating-box, .ratings-table .rating-box .rating {
    background-image: url('../images/icon_sprite.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .icon-sprite, .btn-remove2, .ratings .rating-box, .ratings .rating-box .rating, .sorter > .sort-by .sort-by-switcher, .sorter > .view-mode .grid,
    .sorter > .view-mode .list, .skip-nav .icon, .skip-search .icon, #search_mini_form .search-button:before, .skip-account .icon, .skip-cart .icon, .product-view .sharing-links a, .review-summary-table .rating-box .rating-number:after, .ratings-table .rating-box, .ratings-table .rating-box .rating {
        background-image: url('../images/icon_sprite@2x.png');
        background-size: 100px 1000px;
    }
}

/** Alt Layered Nav **/
.alt-layered-nav div.block-layered-nav li.amshopby-cat.expanded > a,
.alt-layered-nav div.block-layered-nav li.amshopby-cat.active > a,
.alt-layered-nav div.block-layered-nav li.amshopby-cat.has-child:before,
.alt-layered-nav div.block-layered-nav li.amshopby-cat a:hover { color: #3498db !important; }