<?php $compareHelper = Mage::helper('catalog/product_compare'); ?>
<?php $wishlistHelper = Mage::helper('wishlist'); ?>

<a href="<?php echo $this->getUrl('wishlist') ?>" class="header-wishlist" title="<?php echo $this->__('Wishlist') ?>">&nbsp;
    <?php if($wishlistHelper->getItemCount() > 0):?>
        (<?php echo $wishlistHelper->getItemCount(); ?>)
    <?php endif; ?>
</a>
<a href="javascript:void(0)" title="<?php echo $this->__('Compare') ?>" class="header-compare" onclick="popWin('<?php echo $compareHelper->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">&nbsp;
    <?php if($compareHelper->getItemCount() > 0):?>
        (<?php echo $compareHelper->getItemCount(); ?>)
    <?php endif; ?>
</a>
