/** Alternative header Cart icon **/
@media only screen and (min-width: 771px) {
    .page .page-header .skip-links .header-minicart .skip-cart .icon { background-color: #d9620d; }
    .page .page-header .skip-links .header-minicart .icon .cart-icon { background: url('../images/alternative-cart-icon.png') no-repeat center center; height: 41px; width: 41px; display: block; background-color: #f27a24; border-radius: 50%; margin: 0 auto; }
    .page .page-header .skip-links .header-minicart { background-image: url('../images/button-gradient.png'); }
    .header-minicart #header-cart.skip-active:before { border-bottom-color: #f27a24; }
    .header-minicart #header-cart.skip-active .subtotal { border-top-color: #f27a24; border-bottom-color: #f27a24; }
    #header-cart.skip-active { border-color: #f27a24; }
}

#header-cart.skip-active .cart-title { color: #f27a24; }
