<div class="homepage-text">
    <h3 class="title"><?php echo $this->getChildHtml('home_text_title'); ?></h3>
    <div class="text-block first">
        <?php echo $this->getChildHtml('home_text_1'); ?>
    </div>
    
    <div class="text-block">
        <?php echo $this->getChildHtml('home_text_2'); ?>
    </div>
    
    <div class="text-block last">
        <?php echo $this->getChildHtml('home_text_3'); ?>
    </div>
</div>
