<?php
    /**
     * Free Shipping
     *
     * @author    CLKWEB APS <info@clkweb.dk>
     * @category  Clkweb
     * @package   Clkweb_FreeShipping
     * @copyright Copyright (c) 2014 CLKWEB APS (http://www.clkweb.dk/)
     * @license   http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
     */
?>
<?php /* @var $this Clkweb_FreeShipping_Block_Message */ ?>

<?php if ($this->getFreeAmount() > 0): ?>
    <div class="free-shipping-message">
        <?php $remainingAmount = $this->getRemainingAmount() ?>
        <?php if ($remainingAmount <= 0): ?>
            <?php $_subtitle = $this->__('You have reached free shipping on this order!'); ?>
        <?php else: ?>
            <?php $_subtitle = $this->__('Buy for %s more and get free shipping!', Mage::helper('checkout')->formatPrice($remainingAmount)); ?>
        <?php endif; ?>
        <span class="subtitle"><?php echo $_subtitle ?></span>
    </div>
<?php endif; ?>

<?php if ($remainingTime = $this->getRemainingTime()): ?>
    <div class="delivery-offer-message">
        <span class="subtitle"><?php echo $remainingTime; ?></span>
    </div>
<?php endif; ?>

<script type="text/javascript">
    var timestamp = <?php echo $this->remainingTime; ?>;
    Translator.add('Make an order now and it will be shipped today! Offer ends in %h hours %m minutes and %s seconds!', '<?php echo $this->__("Bestil inden %h:%m:%s så sender vi din pakke idag!"); ?>');
</script>