<?php
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */

?>

<?php
    $_cartQty = $this->getSummaryCount();
    if(empty($_cartQty)) {
        $_cartQty = 0;
    }
?>
<?php
    $config = Mage::getSingleton('tax/config');
    $totals = Mage::getSingleton('checkout/cart')->getQuote()->getTotals();
    if($config->displayCartSubtotalInclTax()) {
        $subtotal = $totals['subtotal']->getValueInclTax();
    } else {
        $subtotal = Mage::getSingleton('checkout/cart')->getQuote()->getSubtotal();
    }

?>

<a href="#header-cart" class="skip-link skip-cart <?php if($_cartQty <= 0): ?> no-count<?php endif; ?>">
    <span class="icon"><span class="cart-icon"></span></span>
    <span class="label smallscreen"><?php echo $this->__('Cart'); ?></span>
    <span class="view-cart"><span><?php echo $this->__('View cart')?></span><span><?php echo ' (' . $_cartQty . ' '; ?><span><?php echo ($_cartQty == 1) ? $this->__('item') . ')' : $this->__('items') . ')' ; ?></span>
</a>

<div id="header-cart" class="block block-cart skip-content alternative-cart">
    <?php echo $this->getChildHtml('minicart_content');?>
</div>
